html {
    overflow-y: scroll;
}

.wrapper {
    display: flex;
}

.main {
    width: 100%;
    min-height: calc(100vh - 41.8px);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 10px -2px;
}

.nav-img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.footer {
    height: 80px;
    margin-top: 2em;
}

.footer-img {
    max-height: 40px;
    max-width: 100%;
}

.bkcolor {
    background-image: linear-gradient(90deg, #8100ff, #e002ff);
}

.player-link {
    text-decoration: none;
    color: black;
}

.player-link:hover {
    text-decoration: underline;
    color: black;
}

.bronze {
    color: black;
    background-color: #b26648;
}

.silver {
    color: black;
    background-color: #cacaca;
}

.gold {
    color: black;
    background-color: #edc537;
}

.hof {
    color: black;
    background-color: #9b5ec7;
}

.total {
    color: white;
    background-color: rgb(55, 55, 55);
}

.overall-badge {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
    width: 30px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}

.overall-badge-big {
    color: white;
    font-size: 70px;
    font-weight: 600;
    padding: 0px;
    width: 110px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}

.playerbadge {
    font-size: 16px; 
    font-weight: 400;
    width: 30px;
}

.player-badge-big {
    font-size: 22px; 
    font-weight: 400;
    width: 40px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}

.team-badge {
    color: white;
    font-size: 22px; 
    font-weight: 600;
    width: 100px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}

.overall1 {
    background-image: linear-gradient(90deg, #8100ff, #e002ff);
}

.overall2 {
    background-image: linear-gradient(90deg, #0004ff, #0274ff);
}

.overall3 {
    background-image: linear-gradient(90deg, #cf0000, #e82727);
}

.overall4 {
    background-image: linear-gradient(90deg, #007d17, #0bab30);
}

.overall5 {
    background-color: #1c1c1c;
}

.attribute-badge {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 1px;
    width: 30px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}

.attribute1 {
    background-color: #09631e;
}

.attribute2 {
    background-color: #13a335;
}

.attribute3 {
    background-color: #e1c214;
}

.attribute4 {
    background-color: #d37700;
}

.attribute5 {
    background-color: #b90600;
}

.attribute6 {
    background-color: #1c1c1c;
}

.logo-white {
    filter: brightness(0) invert(1);
}

.logo-black {
    filter: brightness(0);
}

.relative {
    position: relative;
}

.position {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.player-shadow:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px;
}

.badge-count {
    color: #000;
    width: 100%;
    left: 0;
    top: 43%;
    transform: translateY(-50%);
}

.header-image {
    object-fit: cover;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.player-card {
    text-align: start;
    vertical-align: middle;
}

#scrollUpButton {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

.dot {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 50%;
}

.pointer:hover {
    cursor: pointer;
}

.hidden {
    display: none;
  }

#players_table thead tr {
    position: sticky; top: 0; z-index: 1;
}

.badge-menu {
    max-height: 500px; 
    overflow-y: scroll; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px;
    scrollbar-width: none;
}

.badge-menu::-webkit-scrollbar {
    display: none;
}

.draftbutton:hover {
    background-image: linear-gradient(90deg, #8100ff, #e002ff);
}

.draftbutton:hover img {
    filter: brightness(0) invert(1);
}

.active p span {
    color: white !important; 
}

@media (max-width:768px) {
    #players_table table th:nth-child(1),
    #players_table table th:nth-child(2),
    #players_table table th:nth-child(6),
    #players_table table th:nth-child(7),
    #players_table table th:nth-child(8),
    #players_table table th:nth-child(9),
    #players_table table th:nth-child(10),
    #players_table table th:nth-child(11),
    #players_table table th:nth-child(12),
    #players_table table th:nth-child(13),

    #players_table table td:nth-child(1),
    #players_table table td:nth-child(2),
    #players_table table td:nth-child(6),
    #players_table table td:nth-child(7),
    #players_table table td:nth-child(8),
    #players_table table td:nth-child(9),
    #players_table table td:nth-child(10),
    #players_table table td:nth-child(11),
    #players_table table td:nth-child(12),
    #players_table table td:nth-child(13),

    #season_results th:nth-child(3),
    #season_results th:nth-child(7),
    #season_results th:nth-child(8),
    #season_results th:nth-child(9),
    #season_results th:nth-child(11),
    #season_results th:nth-child(12),
    #season_results th:nth-child(14),
    #season_results th:nth-child(15),

    #season_results td:nth-child(3),
    #season_results td:nth-child(7),
    #season_results td:nth-child(8),
    #season_results td:nth-child(9),
    #season_results td:nth-child(11),
    #season_results td:nth-child(12),
    #season_results td:nth-child(14),
    #season_results td:nth-child(15),

    #draft_single_player th:nth-child(3),
    #draft_single_player th:nth-child(5),
    #draft_single_player th:nth-child(6),
    #draft_single_player th:nth-child(7),
    #draft_single_player th:nth-child(8),
    #draft_single_player th:nth-child(9),
    #draft_single_player th:nth-child(10),
    #draft_single_player th:nth-child(11),
    #draft_single_player th:nth-child(12),
    #draft_single_player th:nth-child(13),
    #draft_single_player th:nth-child(14),
    #draft_single_player th:nth-child(15),
    #draft_single_player th:nth-child(16),
    #draft_single_player th:nth-child(17),
    #draft_single_player th:nth-child(18),
    #draft_single_player th:nth-child(19),
    #draft_single_player th:nth-child(21),
    #draft_single_player th:nth-child(22),
    #draft_single_player th:nth-child(23),

    #draft_single_player td:nth-child(3),
    #draft_single_player td:nth-child(5),
    #draft_single_player td:nth-child(6),
    #draft_single_player td:nth-child(7),
    #draft_single_player td:nth-child(8),
    #draft_single_player td:nth-child(9),
    #draft_single_player td:nth-child(10),
    #draft_single_player td:nth-child(11),
    #draft_single_player td:nth-child(12),
    #draft_single_player td:nth-child(13),
    #draft_single_player td:nth-child(14),
    #draft_single_player td:nth-child(15),
    #draft_single_player td:nth-child(16),
    #draft_single_player td:nth-child(17),
    #draft_single_player td:nth-child(18),
    #draft_single_player td:nth-child(19),
    #draft_single_player td:nth-child(21),
    #draft_single_player td:nth-child(22),
    #draft_single_player td:nth-child(23)
    {
        display:none;
    }
}

#positionsFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#positionsFilter div {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
#positionsFilter div p {
    margin: 0 0 0 5px;
}

.inputMin[type="text"] {
    color: rgb(215, 0, 0);
}
.inputMax[type="text"] {
    color: rgb(0, 150, 0);
}
  
.filter-attribute-height-weight {
    display: grid;
    margin: 10px 0;
    align-items: center;
    grid-template-columns: 35% 30% 5% 30%;
}
.filter-attribute-height-weight p{
    margin: 0;
}
.filter-attribute {
    display: grid;
    margin: 10px 0;
    align-items: center;
    grid-template-columns: 55% 20% 5% 20%;
}
.filter-attribute div{
    padding-left: 5px;
}
.filter-attribute p{
    margin: 0;
}