.wrapper {
    display: flex;
}

.main {
    width: 100%;
    min-height: 100vh;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar {
    width: 70px;
    min-height: 100vh;
    max-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.footer {
    height: 100px;
    margin-top: 2em;
}

.footer-img {
    max-height: 100%;
    max-width: 200px;
}

.sidebar ul li.active {
    background-image: linear-gradient(90deg, #8100ff, #e002ff);
}

.sidebar ul li.active img {
    filter: brightness(0) invert(1);
}

.sidebar ul li:hover {
    background-image: linear-gradient(90deg, #8100ff, #e002ff);
}

.sidebar ul li img:hover {
    filter: brightness(0) invert(1);
}

#scrollUpButton {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 70px;
    z-index: 100;
}