.wrapper {
    display: flex;
}

.main {
    width: 100%;
    min-height: 100vh;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar {
    width: 70px;
    min-height: 100vh;
    max-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.footer {
    height: 100px;
    margin-top: 2em;
}

.footer-img {
    max-height: 50px;
    max-width: 100%;
}

.bkcolor {
    background-image: linear-gradient(90deg, #8100ff, #e002ff);
}

.teamcolor1 {
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}

.teamcolor2 {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.teamcolor3 {
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);

}

.teamcolor4 {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #ff00ae 100%);
}

.sidebar ul li:hover {
    background-image: linear-gradient(90deg, #8100ff, #e002ff);
}

.sidebar ul li img:hover {
    filter: brightness(0) invert(1);
}

.logo-white {
    filter: brightness(0) invert(1);
}

.relative {
    position: relative;
}

.position {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.player-shadow:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px;
}

#scrollUpButton {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 70px;
    z-index: 100;
}