{{template "admin" .}}

{{define "css"}}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
{{end}}

{{define "page-title"}}
    NBA Players
{{end}}

{{define "content"}}
    <form method="post" action="/admin/players" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <select class="form-select" name="offset">
            <option value="0">Start from rank 1</option>
            <option value="20">Start from rank 21</option>
            <option value="50">Start from rank 51</option>
            <option value="100">Start from rank 101</option>
            <option value="240">Start from rank 241</option>
            <option value="200">Start from rank 201</option>
            <option value="300">Start from rank 301</option>
            <option value="400">Start from rank 401</option>
            <option value="620">Start from rank 621</option>
        </select>
        <select class="form-select" name="limit">
            <option value="0">All</option>
            <option value="5">+5</option>
            <option value="20">+20</option>
            <option value="50">+50</option>
            <option value="100">+100</option>
            <option value="150">+150</option>
            <option value="250">+250</option>
            <option value="450">+450</option>
        </select>
        <button class="btn btn-primary">Update</button>
    </form>
    <div class="col-md-12">
        <table class="table table-lg table-striped table-hover" id="all-players">
            <thead>
                <tr>
                    <th>Player ID</th>
                    <th>Rank</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Overall Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $players := index .Data "players"}}
                <tr>
                    <td>{{$players.PlayerID}}</td>
                    <td>{{add $index 1}}</td>
                    <td>{{$players.FirstName}}</td>
                    <td>{{$players.LastName}}</td>
                    <td>{{$players.Overall}}</td>
                    <td><a href="/admin/players/{{$players.PlayerID}}">EDIT</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}

{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        const dataTable = new simpleDatatables.DataTable("#all-players", {
            filters: {"Primary Position": ["PG", "SG", "SF", "PF", "C"], "Secondary Position": ["PG", "SG", "SF", "PF", "C"]}, 
            searchable: true,
            fixedHeight: true,
        })
    </script>
{{end}}