{{template "admin" .}}

{{define "css"}}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
{{end}}

{{define "page-title"}}
    NBA Players
{{end}}

{{define "content"}}
    <div class="col-md-12">
        <table class="table table-lg table-striped table-hover" id="all-players">
            <thead>
                <tr>
                    <th>Player ID</th>
                    <th>Rank</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Overall Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $players := index .Data "nba_players"}}
                <tr>
                    <td>{{$players.PlayerID}}</td>
                    <td>{{add $index 1}}</td>
                    <td>{{$players.FirstName}}</td>
                    <td>{{$players.LastName}}</td>
                    <td>{{$players.StatsOverall}}</td>
                    <td><a href="/admin/nba_players/{{$players.PlayerID}}">EDIT</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}

{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        const dataTable = new simpleDatatables.DataTable("#all-players", {
            filters: {"Primary Position": ["PG", "SG", "SF", "PF", "C"], "Secondary Position": ["PG", "SG", "SF", "PF", "C"]}, 
            searchable: true,
            fixedHeight: true,
        })
    </script>
{{end}}