{{template "base" .}}

{{define "content"}}

<title>All-Time Rankings</title>

<div class="container">
    <div class="table-container rounded-3 bkcolor border text-white">
        <h2>All-Time Rankings</h2>
        <div class="table-responsive standings-table">
            <table class="table text-center text-white">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">P</th>
                        <th scope="col">W</th>
                        <th scope="col">L</th>
                        <th scope="col">WIN%</th>
                        <th scope="col">HOME</th>
                        <th scope="col">ROAD</th>
                        <th scope="col">LAST 5</th>
                        <th scope="col">STRK</th>
                        <th scope="col">FOR</th>
                        <th scope="col">AGT</th>
                        <th scope="col">+-</th>
                        <th scope="col">FA</th>
                        <th scope="col">AA</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $standings := index .Data "standings"}}
                            <tr>
                                <th scope="row">{{add $index 1}}</th>
                                <td class="text-start">{{$standings.Team.Name}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.Played}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.TotalWins}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.TotalLosses}}</td>
                                <td style="font-variant-numeric: tabular-nums;">
                                    {{if eq $standings.WinPercentage 1000}}
                                        1.000
                                    {{else}}
                                        .{{if lt $standings.WinPercentage 100}}0{{if eq $standings.WinPercentage 0}}0{{end}}{{end}}{{$standings.WinPercentage}}{{end}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.HomeWins}}-{{$standings.HomeLosses}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.AwayWins}}-{{$standings.AwayLosses}}</td>
                                <td class="px-0">
                                    <div>
                                        {{range $lastFive := $standings.LastFive}}
                                            {{if eq $lastFive "W"}}
                                                <div style="background-color: rgb(127, 255, 127);" class="dot"></div>
                                            {{end}}
                                            {{if eq $lastFive "L"}}
                                                <div style="background-color: rgb(255, 16, 240);" class="dot"></div>
                                            {{end}}
                                            {{if eq $lastFive ""}}
                                                <div class="dot bg-secondary"></div>
                                            {{end}}
                                        {{end}}
                                    </div>
                                </td>
                                <td style="font-variant-numeric: tabular-nums;">
                                    {{if ne $standings.Streak ""}}
                                        {{$standings.StreakCount}} {{$standings.Streak}}
                                    {{end}}
                                </td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.BasketsFor}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.BasketsAgainst}}</td>
                                <td>{{$standings.BasketsSum}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.ForAvg}}</td>
                                <td style="font-variant-numeric: tabular-nums;">{{$standings.AgainstAvg}}</td>
                            </tr>

                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="teams-container mt-3">
        {{ range $team := .Data.allTeamsHeadToHead }}
            <div class="rounded-3 p-3 bg-light border">
                {{ $headToHead := index $team 0 }}
                <p class="m-0 mb-1 fw-semibold">{{ $headToHead.Home.Name }}</p>
                {{ range $standings := $team }} 
                    <div class="table-responsive head-to-head-table">
                        <table class="table">
                            <thead>
                                <tr>
                                   <p class="m-0 fw-light" style="font-size: 14px;">vs {{ $standings.Away.Name }}</p>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width: 25%" scope="row">PLAYED</th>
                                    <td style="width: 30%">{{ $standings.Standings.Played }}</td>
                                    <th style="width: 25%" scope="row">WIN %</th>
                                    <td style="width: 20%">.{{ $standings.Standings.WinPercentage }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 25%" scope="row">TOTAL</th>
                                    <td style="width: 30%">{{ $standings.Standings.TotalWins }}-{{ $standings.Standings.TotalLosses }}</td>
                                    <th style="width: 25%" scope="row">+-</th>
                                    <td style="width: 20%">{{ $standings.Standings.BasketsSum }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 25%" scope="row">HOME</th>
                                    <td style="width: 30%">{{ $standings.Standings.HomeWins }}-{{ $standings.Standings.HomeLosses }}</td>
                                    <th style="width: 25%" scope="row">FA</th>
                                    <td style="width: 20%">{{ $standings.Standings.ForAvg }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 25%" scope="row">ROAD</th>
                                    <td style="width: 30%">{{ $standings.Standings.AwayWins }}-{{ $standings.Standings.AwayLosses }}</td>
                                    <th style="width: 25%" scope="row">AA</th>
                                    <td style="width: 20%">{{ $standings.Standings.AgainstAvg }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">L 10</th>
                                    <td class="text-center" colspan="3">
                                        <div>
                                            {{range $lastFive := $standings.Standings.LastFive}}
                                                {{if eq $lastFive "W"}}
                                                    <div style="background-color: rgb(127, 255, 127);" class="dot"></div>
                                                {{end}}
                                                {{if eq $lastFive "L"}}
                                                    <div style="background-color: rgb(255, 16, 240);" class="dot"></div>
                                                {{end}}
                                                {{if eq $lastFive ""}}
                                                    <div class="dot bg-secondary"></div>
                                                {{end}}
                                            {{end}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
    
</div>
{{end}}

