{{template "base" .}}

{{define "content"}}

<title>History | Baltijas Kauss</title>

<div class="container">
    <div class="round">
        <div class="table-container rounded-3 bg-light border">
            {{ if .Data }}
                <div class="dropdown mb-3">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DRAFT #{{ .Data.activeDraft }}
                    </a>
                    
                    <ul class="dropdown-menu">
                        {{ range $index, $draft := index .Data.drafts }}
                            <li><a class="dropdown-item" href="/history?draft={{$draft.DraftID}}"><span class="fw-semibold">#{{ .DraftID }}</span> <span class="date">{{ .CreatedAt }}</span></a></li>
                        {{ end }}
                    </ul>
                </div>
    
                <div id="draft-table-container" class="rounded-3 border">
                    <table id="draft-table" class="table table-condensed table-borderless table-responsive m-0">
                        <thead style="text-align: center;">
                            <tr>
                                {{ range $index, $team := index .Data.teams }}
                                    {{if ne $index 0 }}
                                        <th style="font-size: 12px; border-left: 0.1px solid rgb(190, 190, 190); width: 25%;">
                                            <a href="/teams/{{$team.TeamID}}" class="player-link" style="font-weight: 500; color: {{$team.TextColor}};">{{ $team.Name }}</a>
                                        </th>
                                    {{else}}
                                        <th style="font-size: 12px; color: {{$team.TextColor}}; width: 25%;">
                                            <a href="/teams/{{$team.TeamID}}" class="player-link" style="font-weight: 500; color: {{$team.TextColor}};">{{ $team.Name }}</a>
                                        </th>
                                    {{end}}
                                {{ end }}
                            </tr>
                        </thead>
                        <tbody style="white-space: nowrap; text-align: center; vertical-align: middle;">
                        <tr>
                        {{ range $index1, $teamPicks := index .Data.draft }}
                            {{if eq $index1 0 }}
                                <td class="p-0 m-0">
                            {{else}}
                                <td class="p-0 m-0" style="border-left: 0.1px solid rgb(190, 190, 190);">
                            {{end}}
                                {{ range $index2, $pick := index $teamPicks }}
                                <div class="p-2 ps-3" style="font-variant-numeric: tabular-nums; text-align: left; font-size: 14px; border-top: 0.1px solid rgb(190, 190, 190);">
                                    {{if lt $index2 9 }}
                                        {{ add $index2 1 }}.&nbsp;&nbsp;
                                    {{else}}
                                        {{ add $index2 1 }}.
                                    {{end}}
                                    {{if lt $pick.Pick 10 }}
                                        ({{ $pick.Pick }})&nbsp;&nbsp;&nbsp;&nbsp;<a href="/players/{{$pick.PlayerID}}" class="player-link overall1-text">{{ $pick.Name }}</a>
                                    {{else if ge $pick.Pick 10 }}
                                        ({{ $pick.Pick }})&nbsp;&nbsp;<a href="/players/{{$pick.PlayerID}}" class="player-link overall1-text">{{ $pick.Name }}</a>
                                    {{else}}
                                        {{ $pick.Name }}
                                    {{end}}
                                </div>
                                {{ end }}
                            </td>
                        {{ end }}
                        </tr>
                        </tbody>
                    </table>
                </div>
            {{ else }}
                <h4 class="mb-0">No drafts yet</h4>
            {{ end }}
        </div>
    </div>
</div>
{{end}}

{{define "js"}}

<script>
    const dates = document.querySelectorAll('.date')
    dates.forEach(element => {
        let date = new Date(element.innerHTML)
        const options = { day: '2-digit', month: '2-digit', year: 'numeric' };
        const formattedDate = date.toLocaleDateString('est', options);

        element.innerHTML = formattedDate
    })
</script>

{{end}}