{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <p>html 4 life</p>

                <img src="/static/images/oops.png" height="1000" width="1000">
                
            </div>
        </div>
    </div>
{{end}}