{{template "base" .}}

{{define "content"}}

<title>Home | Baltijas Kauss</title>

<div class="container">
    <div class="teams-container">
        {{ range $team := .Data.teams }}
            <div class="rounded-3 p-4 text-dark {{if eq $team.Team.DarkText "false"}}text-white{{end}}" style="background-image: linear-gradient(90deg, {{$team.Team.Color1}}, {{$team.Team.Color2}});">
                <p class="text-center" style="font-weight: 500; font-size: 18px; text-transform: uppercase;">{{ .Team.Name }}</p>
                {{ range $line := seq 1 12 }}
                    {{ if eq $line 6}}
                        <hr>
                    {{ end }}
                    {{ if eq $line 11}}
                        <hr>
                    {{ end }}
                    {{ $counter := 0}}
                    {{ range $player := $team.Players }}
                        {{ if eq $player.AssignedPosition $line }}
                            {{ $counter = add $counter 1}}
                            <p class="mb-1 px-3" style="font-weight: 300;">{{ $player.FirstName }} {{ $player.LastName }}</p>
                        {{ end }}
                    {{ end }}
                    {{ if eq $counter 0 }}
                    <p class="mb-1 px-3" style="font-weight: 300;"><br></p>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    </div>
    <div class="table-container rounded-3 bg-light border border-1" style="margin-top: 20px;">
        <div class="table-responsive standings-table">
          <h2>Season {{ .Data.activeSeason }}</h2>
          <table id="season_results" class="table text-center">
              <thead>
                  <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">P</th>
                      <th scope="col">W</th>
                      <th scope="col">L</th>
                      <th scope="col">WIN%</th>
                      <th scope="col">HOME</th>
                      <th scope="col">ROAD</th>
                      <th scope="col">LAST 5</th>
                      <th scope="col">STRK</th>
                      <th scope="col">FOR</th>
                      <th scope="col">AGT</th>
                      <th scope="col">+-</th>
                      <th scope="col">FA</th>
                      <th scope="col">AA</th>
                  </tr>
              </thead>
              <tbody>
                  {{range $index, $standings := index .Data "standings"}}
                          <tr>
                              <th scope="row">{{add $index 1}}</th>
                              <td class="text-start">{{$standings.Team.Name}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.Played}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.TotalWins}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.TotalLosses}}</td>
                              <td style="font-variant-numeric: tabular-nums;">
                                  {{if eq $standings.WinPercentage 1000}}
                                      1.000
                                  {{else}}
                                      .{{if lt $standings.WinPercentage 100}}0{{if eq $standings.WinPercentage 0}}0{{end}}{{end}}{{$standings.WinPercentage}}{{end}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.HomeWins}}-{{$standings.HomeLosses}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.AwayWins}}-{{$standings.AwayLosses}}</td>
                              <td>
                                  <div style="margin: 0 auto;">
                                      {{range $lastFive := $standings.LastFive}}
                                          {{if eq $lastFive "W"}}
                                              <div class="dot bg-success"></div>
                                          {{end}}
                                          {{if eq $lastFive "L"}}
                                              <div class="dot bg-danger"></div>
                                          {{end}}
                                          {{if eq $lastFive ""}}
                                              <div class="dot bg-secondary"></div>
                                          {{end}}
                                      {{end}}
                                  </div>
                              </td>
                              <td style="font-variant-numeric: tabular-nums;">
                                  {{if ne $standings.Streak ""}}
                                      {{$standings.StreakCount}} {{$standings.Streak}}
                                  {{end}}
                              </td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.BasketsFor}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.BasketsAgainst}}</td>
                              <td>{{$standings.BasketsSum}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.ForAvg}}</td>
                              <td style="font-variant-numeric: tabular-nums;">{{$standings.AgainstAvg}}</td>
                          </tr>

                  {{end}}
              </tbody>
          </table>
      </div>
    </div>
</div>
{{end}}