{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Team info summary</h1>

            <hr>

            <table class="table table-striped">
                <thead></thead>
                <tbody>
                    <tr>
                        <td><p>some text</p></td>
                        <td><p>some text</p></td>
                    </tr>
                    <tr>
                        <td><p>some text</p></td>
                        <td><p>some text</p></td>
                    </tr>
                    <tr>
                        <td><p>some text</p></td>
                        <td><p>some text</p></td>
                    </tr>
                    <tr>
                        <td><p>some text</p></td>
                        <td><p>some text</p></td>
                    </tr>
                    <tr>
                        <td><p>some text</p></td>
                        <td><p>some text</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{{end}}