{{template "base" .}}

{{define "content"}}

<title>Baltijas Kauss</title>

<div class="container p-3">
    <div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100 p-5 bg-dark text-white rounded-3">
          <img class="img-fluid rounded-3" src="/static/images/Ingermann.png" alt="">
          <h2 class="mt-3">Õiglase Eesti eest!</h2>
          <p>Liberaalid protestivad bongiga 2K kaamera vastu. "Ma hakkasin nutma, kui ma ei saanud Broadcastiga mängida. See on diskrimineerimine ja inimõiguste rikkumine."</p>
          <button class="btn btn-outline-light" type="button">Loe lähemalt</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="h-100 p-5 bg-light text-dark border border-dark rounded-3">
          <img class="img-fluid rounded-3" src="/static/images/Venno.jpg" alt="">
          <h2 class="mt-3">Persoonilugu</h2>
          <p>Näitleja ja Baltijas Kaussi patroon Venno Loosaar: "Elasin kaksikelu — päeval ahistasin lapsi ja öösiti tegin mock drafte."</p>
          <button class="btn btn-outline-dark" type="button">Loe lähemalt</button>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch mt-4">
      <div class="col-md-12">
        <div class="h-100 p-5 bkcolor text-white rounded-3">
          <h2 class="mt-3">Carmelo Anthony otsingutel leiti Pääsküla rabast inimskelett</h2>
          <p>Jannseni mänedžer Sander Jenk eitab klubi seotust Pääsküla rabaga. "Tänan teid kõigepealt küsimuse eest. Olen seda meelt, et igakülgne uus info selle teema kohta on ainult kiiduväärt. Ma ei kiirustaks antud teemal kiirustatud vastuste andmisega, sest tegu on väga selgelt komplitseeritud olukorraga. Praegusel hetkel on antud teemal käimas arutelud, mis, ma luban, on olnud väga konstruktiivsed ja võin teile kinnitada, et liiva alla me antud teemat ei mata. Võin siinkohal veel lisada, et kõigil partneritel on hetkel konsensus, et antud küsimuses tuleb saavutada konsensus." </p>
          <button class="btn btn-outline-light" type="button">Loe lähemalt</button>
        </div>
      </div>
    </div>
</div>
{{end}}