{{template "base" .}}

{{define "content"}}
<div class="container p-3">
  <div class="row border border-dark rounded-3 bg-light">
    <div class="col-md-12 py-2 px-3">
      <div class="row px-3">
        <div class="col-md-1 d-flex justify-content-center align-self-end p-0 rounded-3">
          <p id="countdown_text" class="fw-semibold m-0 p-0 pt-1" style="font-size: 62px;"><br></p>
        </div>
        <div class="col-md-11 p-0">
          <div class="tab-content" id="nav-tabContent">
            {{range $index, $players := index .Data "nba_players"}}
              <div class="tab-pane fade" id="player{{$players.PlayerID}}" role="tabpanel" aria-labelledby="player{{$players.PlayerID}}-list">
                <table class="table table-sm table-responsive table-borderless m-0">
                  <thead style="font-size: 8px; white-space: nowrap; text-align: center;">
                      <tr>
                          <th></th>
                          <th class="ps-2" style="text-align: start;"></th>
                          <th></th>
                          <th title="Overall Rating" data-bs-toggle="tooltip" data-bs-placement="bottom">OVR</th>
                          <th title="Close Shot" data-bs-toggle="tooltip" data-bs-placement="bottom">CLOSE</th>
                          <th title="Mid-Range Shot " data-bs-toggle="tooltip" data-bs-placement="bottom">MID</th>
                          <th title="Three-Point Shot" data-bs-toggle="tooltip" data-bs-placement="bottom">3PT</th>
                          <th title="Free Throw" data-bs-toggle="tooltip" data-bs-placement="bottom">FT</th>
                          <th title="Speed" data-bs-toggle="tooltip" data-bs-placement="bottom">SPD</th>
                          <th title="Strength" data-bs-toggle="tooltip" data-bs-placement="bottom">STR</th>
                          <th title="Vertical" data-bs-toggle="tooltip" data-bs-placement="bottom">VERT</th>
                          <th title="Driving Dunk" data-bs-toggle="tooltip" data-bs-placement="bottom">DUNK</th>
                          <th title="Steal" data-bs-toggle="tooltip" data-bs-placement="bottom">STL</th>
                          <th title="Block" data-bs-toggle="tooltip" data-bs-placement="bottom">BLK</th>
                          <th title="Perimeter Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">PER D</th>
                          <th title="Interior Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">INT D</th>
                          <th title="Offensive Rebound" data-bs-toggle="tooltip" data-bs-placement="bottom">OREB</th>
                          <th title="Defensive Rebound" data-bs-toggle="tooltip" data-bs-placement="bottom">DREB</th>
                          <th title="Total Attributes" data-bs-toggle="tooltip" data-bs-placement="bottom">TOTAL</th>
                      </tr>
                  </thead>
                  <tbody style="white-space: nowrap; text-align: center; vertical-align: middle;">
    
                      <tr>
                          <td class="p-0">
                            {{if $players.TeamID.Int64}}
                                    {{range $teamInfo := index $.Data "nba_teams"}}
                                        {{if eq $teamInfo.TeamID $players.TeamID}}
                                            <img src="{{if ne $players.ImgUrl ""}}{{$players.ImgUrl}}{{else}}/static/images/lightProfile.png{{end}}"
                                            alt="" class="header-image rounded-circle inline-block bg-light border">
                                        {{end}}
                                    {{end}}
                                    {{else}}
                                        <img src="{{if ne $players.ImgUrl ""}}{{$players.ImgUrl}}{{else}}/static/images/lightProfile.png{{end}}"
                                        alt="" class="header-image rounded-circle bg-light border">
                                    {{end}}
                          </td>
                          <td class="p-0 ps-2" style="min-width: 180px;">
                              <div class="d-flex player-card">
                                  <div class="p-0 inline-block">
                                      <p class="m-0">{{$players.FirstName}} {{$players.LastName}}</p>
                                      <p class="text-muted my-0" style="font-size: 10px;">{{$players.Archetype}}</p>
                                      <div class="my-0">
                                          <p class="text-muted my-0" style="font-size: 10px;">
                                              {{$players.PrimaryPosition}}{{if $players.SecondaryPosition}}/{{end}}{{$players.SecondaryPosition}}
                                              | {{$players.Height}}cm | {{$players.Weight}}kg
                                          </p>
                                      </div>
    
                                  </div>
                              </div>
                          </td>
                          <td class="p-0 py-1">
                              <div class="mt-2" style="font-size: 0px;">
                                  <div class="d-inline-block position-relative">
                                          <img src="/static/images/2k-bronze-badge-count.webp" alt="" width="30">
                                          <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.BronzeBadgesCount}}</p>
                                  </div>
                                  <div class="d-inline-block position-relative">
                                      <img src="/static/images/2k-silver-badge-count.webp" alt="" width="30">
                                      <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.SilverBadgesCount}}</p>
                                  </div>
                                  <div class="d-inline-block position-relative">
                                      <img src="/static/images/2k-gold-badge-count.webp" alt="" width="30">
                                      <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.GoldBadgesCount}}</p>
                                  </div>
                                  <div class="d-inline-block position-relative">
                                      <img src="/static/images/2k-hof-badge-count.webp" alt="" width="30">
                                      <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.HOFBadgesCount}}</p>
                                  </div>
                                  <div class="d-inline-block position-relative">
                                      <img src="/static/images/2k-total-badge-count.webp" alt="" width="30">
                                      <p class="position-absolute text-center badge-count text-white" style="font-size: 16px;">{{$players.TotalBadgesCount}}</p>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <span style="font-size: 16px;" class="badge badge-pill p-1 fw-semibold
                              {{if ge $players.StatsOverall 81}}
                                  {{if ge $players.StatsOverall 86}}
                                      {{if ge $players.StatsOverall 91}}
                                          bkcolor
                                      {{else}}
                                          badgecolor1
                                      {{end}}
                                  {{else}}
                                      badgecolor2
                                  {{end}}
                              {{else}}
                              bg-light border text-dark
                              {{end}}
                          ">{{.StatsOverall}}</span></td>
                          <td>{{$players.StatsCloseShot}}</td>
                          <td>{{$players.StatsMidRangeShot}}</td>
                          <td>{{$players.StatsThreePointShot}}</td>
                          <td>{{$players.StatsFreeThrow}}</td>
                          <td>{{$players.StatsSpeed}}</td>
                          <td>{{$players.StatsStrength}}</td>
                          <td>{{$players.StatsVertical}}</td>
                          <td>{{$players.StatsDrivingDunk}}</td>
                          <td>{{$players.StatsSteal}}</td>
                          <td>{{$players.StatsBlock}}</td>
                          <td>{{$players.StatsPerimeterDefense}}</td>
                          <td>{{$players.StatsInteriorDefense}}</td>
                          <td>{{$players.StatsOffensiveRebound}}</td>
                          <td>{{$players.StatsDefensiveRebound}}</td>
                          <td>
                              <span class="badge badge-pill text-dark border bg-light">{{$players.StatsTotalAttributes}}</span>
                          </td>
                          <td>
                            <button id="draft_{{$players.PlayerID}}" type="submit" class="btn btn-primary {{if $players.TeamID.Valid}}btn-dark disabled{{end}}" 
                            onclick="draftPlayer('{{$players.PlayerID}}', '{{$players.FirstName}}', '{{$players.LastName}}', '{{$players.PrimaryPosition}}', '{{$players.SecondaryPosition}}')">Draft Player</button>
                          </td>
                      </tr>
    
                  </tbody>
              </table>
              </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="px-3">
        <div class="progress mt-1 mb-3" style="height: 6px;">
          <div id="countdown_bar" class="progress-bar bkcolor" role="progressbar" aria-label="Success example" style="width: 100%;"></div>
        </div>
      </div>
    
      <div class="row px-3">
        <div class="col-md-9">
          <table class="table table-condensed table-borderless table-responsive">
            <thead style="text-align: center;">
                <tr style="border-bottom: 0.5px solid rgb(190, 190, 190);;">
                    <th style="width: 8%">Pick</th>
                    <th id="pick1" style="width: 23%; border-left: 0.5px solid rgb(190, 190, 190);;">Team 1</th>
                    <th id="pick2" style="width: 23%; border-left: 0.5px solid rgb(190, 190, 190);;">Team 2</th>
                    <th id="pick3" style="width: 23%; border-left: 0.5px solid rgb(190, 190, 190);;">Team 3</th>
                    <th id="pick4" style="width: 23%; border-left: 0.5px solid rgb(190, 190, 190);;">Team 4</th>
                </tr>
            </thead>
            <tbody style="white-space: nowrap; text-align: center; vertical-align: middle;">
              {{range $position := index $.Data "positions"}}
                <tr style="border-top: 0.5px solid rgb(190, 190, 190);">
                  <td>
                    {{$position.Number}}
                  </td>
                  <td class="p-0" style="font-size: 14px; border-left: 0.5px solid rgb(190, 190, 190);;">
                    <div id="row{{$position.Number}}col1" class="p-1">
                      <br>
                      <br>
                      <br>
                    </div>
                  </td>
                  <td class="p-0" style="font-size: 14px; border-left: 0.5px solid rgb(190, 190, 190);;">
                    <div id="row{{$position.Number}}col2" class="p-1">
                      <br>
                      <br>
                      <br>
                    </div>
                  </td>
                  <td class="p-0" style="font-size: 14px; border-left: 0.5px solid rgb(190, 190, 190);;">
                    <div id="row{{$position.Number}}col3" class="p-1">
                      <br>
                      <br>
                      <br>
                    </div>
                  </td>
                  <td class="p-0" style="font-size: 14px; border-left: 0.5px solid rgb(190, 190, 190);;">
                    <div id="row{{$position.Number}}col4" class="p-1">
                      <br>
                      <br>
                      <br>
                    </div>
                  </td>
                </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
            <div class="list-group" id="list-tab" role="tablist" style="max-height: 907px; overflow:scroll; scrollbar-width: none;">
              {{range $index, $players := index .Data "nba_players"}}
                <a class="list-group-item list-group-item-action {{if $players.TeamID.Valid}}fw-lighter{{end}}" id="player{{$players.PlayerID}}-list" data-bs-toggle="list" href="#player{{$players.PlayerID}}" style="font-size: 16px;" role="tab" aria-controls="player{{$players.PlayerID}}">{{$players.StatsOverall}} {{$players.FirstName}} {{$players.LastName}}</a>
              {{end}}
            </div>
        </div>
      </div> 
      
      <div class="row px-3 mt-3 mb-3">
        <div class="col-md-9">
  
          <div class="form-group hidden">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-control" autocomplete="off" value="{{.StringMap.user}}">
          </div>
    
          <input type="hidden" name="action" id="action">
    
          <div id="output" class="form-control" style="min-height: 160px; max-height: 160px; overflow:scroll; scrollbar-width: none;">
    
          </div>
    
          <div class="form-group mt-2">
            <input type="text" name="message" id="message" class="form-control" autocomplete="off">
          </div>
    
        </div>
        <div class="col-md-3">
          <div class="row" style="min-height: 160px; max-height: 160px;">
            <div class="col-md-12">
              <h3>Online</h3>
              <ul id="online_users" style="padding-left: 1em; font-size: 16px;">
              </ul>
            </div>
          </div>
          <div class="row mt-2">
            <div class="d-flex justify-content-end" style="padding-top: 6px;">
              <img class="pointer" src="/static/images/settings.png" alt="" style="max-height: 25px; opacity: 45%;" onclick="draftSettings();">
            </div>
          </div>
    
          
    
        </div>
      </div>
    
      <div class="row px-3">
        <div id="draftControls" class="col-md-9 my-3 hidden">
          <div class="d-flex flex-row justify-content-between">
              <div id="resetPlayersBtn" class="btn btn-warning" onclick="resetAllPlayers();">Reset All Teams</div>
              <div>
                <select id="draftSeconds" class="form-select">
                  <option value="1">Random</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option selected value="45">45</option>
                  <option value="60">60</option>
                </select>
              </div>
              <div id="generateOrderBtn" class="btn btn-success" onclick="generateOrder();">Generate Draft Order</div>
              <div id="startDraftBtn" class="btn btn-primary" onclick="startDraft();">Start Draft</div>
              <div id="stopDraftBtn" class="btn btn-danger" onclick="stopDraft();">Stop Draft</div>
          </div>
        </div>

    </div>
  </div>
  
  <!--
  <div class="row">
    <div class="col-md-12 p-0 justify-content-center d-flex">
      <img class="img-fluid rounded-3" style="max-height: 500px;" src="/static/images/Bryant.png" alt="">
    </div>
  </div>
  <div class="row mt-2">
    <p class="d-flex justify-content-center">R.I.P. MAMBA 1978-2020</p>
  </div>
  -->
</div>
{{end}}

{{define "js"}}

<script>
  var countdownTimer;
  let socket = null;
  let o = document.getElementById("output");
  let clock = document.getElementById("countdown_text");
  let userField = document.getElementById("username");
  let messageField = document.getElementById("message");


  window.onbeforeunload = function() {
    console.log("Leaving");
    let jsonData = {};
    jsonData["action"] = "left";
    socket.send(JSON.stringify(jsonData))
  }

  document.addEventListener("DOMContentLoaded", function() {
    socket = new WebSocket("ws://localhost:8080/ws");

    socket.onopen = () => {
      console.log("Successfully connected");
      let jsonData = {};
      jsonData["action"] = "username";
      jsonData["username"] = userField.value;
      socket.send(JSON.stringify(jsonData));
    }

    socket.onclose = () => {
      console.log("Connection closed");
    }

    socket.onerror = error => {
      console.log("There was an error");
    }

    socket.onmessage = msg => {
      let data = JSON.parse(msg.data);
      console.log("Action is", data.action);

      switch (data.action) {
        case "list_users":
          let ul = document.getElementById("online_users");
          while (ul.firstChild) ul.removeChild(ul.firstChild);

          if (data.connected_users.length > 0) {
            data.connected_users.forEach(function(item) {
              let li = document.createElement("li");
              li.appendChild(document.createTextNode(item))
              ul.appendChild(li)
            })
          }
          break;

        case "broadcast":
          o.innerHTML = o.innerHTML + data.message + "<br>";
          break;

        case "reset_players":
          var elems = document.querySelectorAll("#list-tab .fw-lighter");
          var buttons = document.querySelectorAll("#nav-tabContent .btn-dark");
          console.log(buttons);
          elems.forEach(el => {
            el.classList.remove('fw-lighter');
          });
          buttons.forEach(button => {
            button.classList.remove('btn-dark');
            button.classList.remove('disabled');
          });
          break;

        case "timer":
          clock.innerHTML = data.countdown;
          document.getElementById("countdown_bar").style.width = (data.countdown/data.draft_seconds)*100 + "%";
          break;

        case "generate_order":
          for (let i = 0; i < data.teams.length; i++) {
            document.getElementById("pick" + (i+1)).innerHTML = data.teams[i].Name.toUpperCase();
            document.getElementById("pick" + (i+1)).style.backgroundImage = 'linear-gradient(90deg,' + data.teams[i].Color1 + ', ' + data.teams[i].Color2 +  ')';
            if (data.teams[i].DarkText !== "true") {
              document.getElementById("pick" + (i+1)).style.color = "white";
            } else {
              document.getElementById("pick" + (i+1)).style.color = "black";
            }
          } 
          break;
        
        case "draft_player":
          document.getElementById("row" + (data.row) + "col" + (data.column)).innerHTML = data.message;
          document.getElementById("row" + (data.row) + "col" + (data.column)).style.backgroundColor = data.color;
          document.getElementById("player" + (data.player_id) + "-list").classList.add("fw-lighter");
          document.getElementById("draft_" + (data.player_id)).classList.add("btn-dark");
          document.getElementById("draft_" + (data.player_id)).classList.add("disabled");
          break;

        case "start_draft":
          document.getElementById("draftSeconds").setAttribute("disabled", "");
          break;

        case "draft_ended":
          clock.innerHTML = "<br>";
          document.getElementById("countdown_bar").style.width = "100%";
          break;
        }

    }

    userField.addEventListener("change", function () {
          let jsonData = {};
          jsonData["action"] = "username";
          jsonData["username"] = this.value;
          socket.send(JSON.stringify(jsonData));
      })

    messageField.addEventListener("keydown", function(event) {
      if (event.code === "Enter") {
        if (!socket) {
          console.log("No connection");
          return false
        }

        if ((userField.value === "") || (messageField.value === "")) {
          // errorMessage("Fill out username and message!");
          return false;
        } else {
          sendMessage();
        }

        event.preventDefault();
        event.stopPropagation();
      }
    })
  })

  function sendMessage() {
    let jsonData = {};
    jsonData["action"] = "broadcast";
    jsonData["username"] = userField.value;
    jsonData["message"] = messageField.value;
    socket.send(JSON.stringify(jsonData))
    messageField.value = "";
  }

  function generateOrder() {
    let jsonData = {};
    jsonData["action"] = "generate_order";
    socket.send(JSON.stringify(jsonData))
  }

  function startDraft() {
    let jsonData = {};
    jsonData["action"] = "start_draft";
    jsonData["countdown"] = parseInt(document.getElementById("draftSeconds").value);
    socket.send(JSON.stringify(jsonData))
  }

  function stopDraft() {
    let jsonData = {};
    jsonData["action"] = "stop_draft";
    socket.send(JSON.stringify(jsonData))
  }

  function draftPlayer(playerID, firstName, lastName, primaryPos, secondaryPos) {
    var playerInfo = [firstName, lastName, primaryPos, secondaryPos];
    
    let jsonData = {};
    jsonData["action"] = "draft_player";
    jsonData["player_id"] = parseInt(playerID);
    jsonData["player_info"] = playerInfo;
    socket.send(JSON.stringify(jsonData))
  }

  function resetAllPlayers() {
    let jsonData = {};
    jsonData["action"] = "reset_players";
    socket.send(JSON.stringify(jsonData))
  }

  function draftSettings() {
        const str = 'draftControls';
        $('#' + str).toggleClass("hidden");
    }

</script>

<script>
  const triggerTabList = document.querySelectorAll('#myList a')
  triggerTabList.forEach(triggerEl => {
    const tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', event => {
      event.preventDefault()
      tabTrigger.show()
    })
  })
</script>

<script>
  function revealPick(index) {
    const str = 'pick_' + (index);
    $('#' + str).toggleClass("hidden");
  }

  function randomize() {
    var audio = new Audio('/static/mp3/Draft Chime.mp3');    
    audio.play();
    const str = 'draftpicks';
    $('#' + str).removeClass("hidden");
    $.ajax({
      type: 'GET',
      dataType: 'html',
      data: {
      },
      success: function (data) {
        console.log("success");
        $('#draftpicks').load(window.location.href + ' #draftpicksrefresh');
      }
    });
  }

</script>

{{end}}