{{template "base" .}}

{{define "content"}}
<div class="container p-3">

    <div class="row align-items-md-stretch text-dark mb-4">

        <div class="col-md-3">

            <div class="p-5 teamcolor1 text-white border rounded-3 lh-1">
                <h3>Kreutzwaldi</h3>
                <hr class="border border-white border-1 opacity-50">

                <p>Stephen Curry</p>
                <p>James Harden</p>
                <p>Kevin Durant</p>
                <p>Pascal Siakam</p>
                <p>Anthony Davis</p>

                <hr class="border border-white border-1 opacity-50">
                <div class="fw-lighter">

                    <p>Trae Young</p>
                    <p>Devin Booker</p>
                    <p>Zach LaVine</p>
                    <p>Khris Middleton</p>
                    <p>Zion Williamson</p>
                    <hr class="border border-white border-1 opacity-50">
                    <p>Bradley Beal</p>
                    <p>Andrew Wiggins</p>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="p-5 teamcolor2 text-white border rounded-3 lh-1">
                <h3>Hiiu</h3>
                <hr class="border border-white border-1 opacity-50">

                <p>Luka Doncic</h5>
                <p>Klay Thompson</p>
                <p>DeMar DeRozan</p>
                <p>Nikola Jokic</p>
                <p>Lebron James</p>

                <hr class="border border-white border-1 opacity-50">
                <div class="fw-lighter">

                    <p>Marcus Smart</p>
                    <p>Shai Gilgeous-Alexander</p>
                    <p>Desmond Bane</p>
                    <p>Jaren Jackson Jr.</p>
                    <p>Bam Adebayo</p>
                    <hr class="border border-white border-1 opacity-50">
                    <p>Russell Westbrook</p>
                    <p>Ben Simmons</p>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="p-5 teamcolor3 text-white border rounded-3 lh-1">
                <h3>Jannseni</h3>
                <hr class="border border-white border-1 opacity-50">

                <p>Chris Paul</p>
                <p>Jaylen Brown</p>
                <p>Paul George</p>
                <p>Giannis Antetokounmpo</p>
                <p>Joel Embiid</p>

                <hr class="border border-white border-1 opacity-50">
                <div class="fw-lighter">

                    <p>Damian Lillard</p>
                    <p>Donovan Mitchell</p>
                    <p>CJ McCollum</p>
                    <p>John Collins</p>
                    <p>Domantas Sabonis</p>
                    <hr class="border border-white border-1 opacity-50">
                    <p>OG Anunoby</p>
                    <p>Draymond Green</p>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="p-5 teamcolor4 text-white border rounded-3 lh-1">
                <h3>Schnelli</h3>
                <hr class="border border-white border-1 opacity-50">

                <p>Ja Morant</p>
                <p>Jimmy Butler</p>
                <p>Jayson Tatum</p>
                <p>Kawhi Leonard</p>
                <p>Rudy Gobert</p>

                <div class="fw-lighter">
                    <hr class="border border-white border-1 opacity-50">

                    <p>Kyrie Irving</p>
                    <p>Jrue Holiday</p>
                    <p>Brandon Ingram</p>
                    <p>Karl-Anthony Towns</p>
                    <p>Christian Wood</p>
                    <hr class="border border-white border-1 opacity-50">
                    <p>Dejounte Murray</p>
                    <p>Anthony Edwards</p>

                </div>
            </div>
        </div>

    </div>

    <div class="align-items-md-stretch mb-4 rounded-3">

        <div class="rounded-3 p-4 bkcolor border text-white">

            <div class="row align-items-md-stretch justify-content-between px-3">

                <div class="col-md-2 text-center lh-1 dropend">



                    <a href="#" class="text-white" data-bs-toggle="dropdown" aria-expanded="false">
                        <div
                            class="relative player-shadow bkcolor border border-white border-2 rounded-3 text-center mb-2">
                            <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/201939.png"
                                alt="">
                            <h5 class="position p-1">PG</h5>
                        </div>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li class="dropdown-item">Andre Drummond</li>
                        <li class="dropdown-item">Avery Bradley</li>
                        <li class="dropdown-item">LeBron James</li>
                        <li class="dropdown-item">Luka Doncic</li>
                        <li class="dropdown-item">Zack Randolph</li>
                        <hr class="dropdown-divider">
                        <li class="dropdown-item">Remove player</li>
                    </ul>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div
                        class="relative player-shadow bkcolor border border-white  border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/201935.png"
                            alt="">
                        <h5 class="position p-1">SG</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div
                        class="relative player-shadow bkcolor border border-white  border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/201142.png"
                            alt="">
                        <h5 class="position p-1">SF</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div
                        class="relative player-shadow bkcolor border border-white  border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/1627783.png"
                            alt="">
                        <h5 class="position p-1">PF</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div
                        class="relative player-shadow bkcolor border border-white  border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/203076.png"
                            alt="">
                        <h5 class="position p-1">C</h5>
                    </div>
                </div>

            </div>

            <hr class="border border-1 opacity-0 mt-2">

            <div class="row align-items-md-stretch justify-content-between px-3">

                <div class="col-md-2 text-center lh-1">
                    <div class="relative player-shadow bg-dark border border-dark border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629027.png"
                            alt="">
                        <h5 class="position text-secondary p-1">PG</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div class="relative player-shadow bg-dark border border-dark border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/1626164.png"
                            alt="">
                        <h5 class="position text-secondary p-1">SG</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div class="relative player-shadow bg-dark border border-dark border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/203897.png"
                            alt="">
                        <h5 class="position text-secondary p-1">SF</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div class="relative player-shadow bg-dark border border-dark border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/203114.png"
                            alt="">
                        <h5 class="position text-secondary p-1">PF</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div class="relative player-shadow bg-dark border border-dark border-2 rounded-3 text-center mb-2">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629627.png"
                            alt="">
                        <h5 class="position text-secondary p-1">C</h5>
                    </div>
                </div>

            </div>

            <hr class="border border-1 opacity-0 mt-2">

            <div class="row align-items-md-stretch justify-content-between px-3">

                <div class="col-md-2 text-center lh-1">
                    <div class="relative player-shadow bg-dark border border-dark border-2 rounded-3 text-center">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/203078.png"
                            alt="">
                        <h5 class="position text-secondary p-1">Res</h5>
                    </div>
                </div>
                <div class="col-md-2 text-center lh-1">
                    <div class="relative player-shadow bg-dark border border-dark border-2 rounded-3 text-center">
                        <img class="img-fluid" src="https://cdn.nba.com/headshots/nba/latest/1040x760/203952.png"
                            alt="">
                        <h5 class="position text-secondary p-1">Res</h5>
                    </div>
                </div>
                <div class="col-md-7 text-center d-flex align-items-center justify-content-center lh-1">
                    <img class="img-fluid logo-white" src="/static/images/BKslogan.png" alt="">
                </div>
            </div>

        </div>

    </div>

    <div class="align-items-md-stretch mb-4 rounded-3">

        <div class="rounded-3 p-4 bg-light border border-dark text-dark" id="team_info">


            {{$res := index .Data "teamInfo"}}

            <form action="/nba/teams" method="post" class="row" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="col-md-3">
                    <label for="team_name" class="visually-hidden">Team name</label>
                    <input type="text" class="form-control {{with .Form.Errors.Get " team_name"}} is-invalid {{end}}"
                        name="team_name" placeholder="Team name" value="{{$res.TeamName}}" required>
                    {{with .Form.Errors.Get "team_name"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                </div>
                <div class="col-md-3">
                    <label for="abbreviation" class="visually-hidden">Abbreviation</label>
                    <input type="text" class="form-control {{with .Form.Errors.Get " abbreviation"}} is-invalid {{end}}"
                        name="abbreviation" placeholder="Abbreviation" value="{{$res.Abbreviation}}" required>
                    {{with .Form.Errors.Get "abbreviation"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                </div>
                <div class="col-auto">
                    <label for="team_color" class="form-label visually-hidden">Color picker</label>
                    <input type="color" class="form-control form-control-color" name="team_color"
                        value="{{$res.TeamColor}}" title="Choose your color">
                </div>
                <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="text_color" value="true">
                            Dark text
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" id="liveToastBtn" class="btn btn-outline-dark">Update</button>
                </div>

            </form>

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="..." class="rounded me-2" alt="...">
                        <strong class="me-auto">Bootstrap</strong>
                        <small>11 mins ago</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>

{{end}}

{{define "js"}}

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }


</script>

{{end}}