{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div id="players_table" class="col">
            <h1>2K23</h1>

            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table table-sm table-responsive table-borderless" style="border-bottom: 0.5px solid rgb(190, 190, 190);">
                <thead style="font-size: 8px; white-space: nowrap; text-align: center;">
                    <tr style="background-color: white; border-bottom: 1px solid rgb(190, 190, 190);">
                        <th>#</th>
                        <th></th>
                        <th class="ps-2" style="text-align: start;">Player</th>
                        <th>Team</th>
                        <th>Badges</th>
                        <th title="Overall Rating" data-bs-toggle="tooltip" data-bs-placement="bottom">OVR</th>
                        <th title="Close Shot" data-bs-toggle="tooltip" data-bs-placement="bottom">CLOSE</th>
                        <th title="Mid-Range Shot " data-bs-toggle="tooltip" data-bs-placement="bottom">MID</th>
                        <th title="Three-Point Shot" data-bs-toggle="tooltip" data-bs-placement="bottom">3PT</th>
                        <th title="Free Throw" data-bs-toggle="tooltip" data-bs-placement="bottom">FT</th>
                        <th title="Acceleration" data-bs-toggle="tooltip" data-bs-placement="bottom">ACCL</th>
                        <th title="Speed" data-bs-toggle="tooltip" data-bs-placement="bottom">SPD</th>
                        <th title="Strength" data-bs-toggle="tooltip" data-bs-placement="bottom">STR</th>
                        <th title="Vertical" data-bs-toggle="tooltip" data-bs-placement="bottom">VERT</th>
                        <th title="Driving Dunk" data-bs-toggle="tooltip" data-bs-placement="bottom">DUNK</th>
                        <th title="Draw Foul" data-bs-toggle="tooltip" data-bs-placement="bottom">FOUL</th>
                        <th title="Steal" data-bs-toggle="tooltip" data-bs-placement="bottom">STL</th>
                        <th title="Block" data-bs-toggle="tooltip" data-bs-placement="bottom">BLK</th>
                        <th title="Perimeter Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">PER D</th>
                        <th title="Interior Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">INT D</th>
                        <th title="Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">DEF</th>
                        <th title="Offensive Rebound" data-bs-toggle="tooltip" data-bs-placement="bottom">OREB</th>
                        <th title="Defensive Rebound" data-bs-toggle="tooltip" data-bs-placement="bottom">DREB</th>
                        <th title="Total Attributes" data-bs-toggle="tooltip" data-bs-placement="bottom">TOTAL</th>
                    </tr>
                </thead>
                <tbody style="white-space: nowrap; text-align: center; vertical-align: middle;">

                    {{range $index, $players := index .Data "nba_players"}}
                    <tr style="border-top: 0.5px solid rgb(190, 190, 190);">
                        <td class="p-0">{{add $index 1}}</td>
                        <td class="p-0">
                            <div id="playerimg_{{$index}}">
                                <div id="playerimgreload_{{$index}}">
                                {{if $players.TeamID.Int64}}
                                        {{range $teamInfo := index $.Data "nba_teams"}}
                                            {{if eq $teamInfo.TeamID $players.TeamID}}
                                                <img src="{{if ne $players.ImgUrl ""}}{{$players.ImgUrl}}{{else}}/static/images/lightProfile.png{{end}}"
                                                alt="" class="header-image rounded-circle inline-block" style="border-style: none; background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}});">
                                            {{end}}
                                        {{end}}
                                        {{else}}
                                            <img src="{{if ne $players.ImgUrl ""}}{{$players.ImgUrl}}{{else}}/static/images/lightProfile.png{{end}}"
                                            alt="" class="header-image rounded-circle bg-light border">
                                        {{end}}
                                </div>
                            </div>
                    </td>
                        <td class="p-0 ps-2">
                            <div class="d-flex player-card">
                                <div class="p-0 inline-block">
                                    <p class="m-0">{{$players.FirstName}} {{$players.LastName}}</p>
                                    <p class="text-muted my-0" style="font-size: 10px;">{{$players.Archetype}}</p>
                                    <div class="my-0">
                                        <p class="text-muted my-0" style="font-size: 10px;">
                                            {{$players.PrimaryPosition}}
                                            {{$players.SecondaryPosition}}
                                            | {{$players.Height}}cm | {{$players.Weight}}kg
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </td>

                        
                        <td class="p-0">
                            <div id="player_{{$index}}">
                                <div id="player_reload_{{$index}}">
                                    {{if $players.TeamID.Int64}}
                                    {{range $teamInfo := index $.Data "nba_teams"}}
                                        {{if eq $teamInfo.TeamID $players.TeamID}}
                                            <p class="badge badgehover badge-pill my-0 {{if eq $teamInfo.DarkText "true"}}text-dark{{end}}" class="dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}}); display:inline-block; width:70px">
                                            {{$teamInfo.Abbreviation}}
                                            </p>
                                        {{end}}
                                    {{end}}
                                    {{else}}
                                        <p style="display:inline-block; width:70px" class="badge badgehover badge-pill border bg-light text-dark my-0 ms-1" class="dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                            FA
                                        </p>
                                    {{end}}

                                    <div class="dropdown-menu">
                                        {{range $teams := index $.Data "nba_teams"}}
                                            <li class="dropdown-item" onclick="updateTeam('{{$index}}', '{{$players.PlayerID}}', '{{$teams.TeamID.Int64}}')">
                                                {{$teams.Abbreviation}} {{$teams.Name}}
                                            </li>
                                        {{end}}
                                        <hr class="dropdown-divider">
                                        <li class="dropdown-item" onclick="updateTeam('{{$index}}', '{{$players.PlayerID}}', 'null')">
                                            Free Agency
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="p-0 py-1">
                            <div class="mt-2" style="font-size: 0px;">
                                <div class="d-inline-block position-relative pointer" onclick="toggleBadge('bronze', '{{$index}}')">
                                        <img src="/static/images/2k-bronze-badge-count.webp" alt="" width="30">
                                        <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.BronzeBadgesCount}}</p>
                                </div>
                                <div class="d-inline-block position-relative pointer" onclick="toggleBadge('silver', '{{$index}}')">
                                    <img src="/static/images/2k-silver-badge-count.webp" alt="" width="30">
                                    <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.SilverBadgesCount}}</p>
                                </div>
                                <div class="d-inline-block position-relative pointer" onclick="toggleBadge('gold', '{{$index}}')">
                                    <img src="/static/images/2k-gold-badge-count.webp" alt="" width="30">
                                    <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.GoldBadgesCount}}</p>
                                </div>
                                <div class="d-inline-block position-relative pointer" onclick="toggleBadge('hof', '{{$index}}')">
                                    <img src="/static/images/2k-hof-badge-count.webp" alt="" width="30">
                                    <p class="position-absolute text-center badge-count" style="font-size: 16px;">{{$players.HOFBadgesCount}}</p>
                                </div>
                                <div class="d-inline-block position-relative pointer" onclick="toggleBadge('total', '{{$index}}')">
                                    <img src="/static/images/2k-total-badge-count.webp" alt="" width="30">
                                    <p class="position-absolute text-center badge-count text-white" style="font-size: 16px;">{{$players.TotalBadgesCount}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span style="font-size: 16px;" class="badge badge-pill p-1 fw-semibold
                            {{if ge $players.StatsOverall 81}}
                                {{if ge $players.StatsOverall 86}}
                                    {{if ge $players.StatsOverall 91}}
                                        bkcolor
                                    {{else}}
                                        badgecolor1
                                    {{end}}
                                {{else}}
                                    badgecolor2
                                {{end}}
                            {{else}}
                            bg-light border text-dark
                            {{end}}
                        ">{{.StatsOverall}}</span></td>
                        <td>{{$players.StatsCloseShot}}</td>
                        <td>{{$players.StatsMidRangeShot}}</td>
                        <td>{{$players.StatsThreePointShot}}</td>
                        <td>{{$players.StatsFreeThrow}}</td>
                        <td>{{$players.StatsAcceleration}}</td>
                        <td>{{$players.StatsSpeed}}</td>
                        <td>{{$players.StatsStrength}}</td>
                        <td>{{$players.StatsVertical}}</td>
                        <td>{{$players.StatsDrivingDunk}}</td>
                        <td>{{$players.StatsDrawFoul}}</td>
                        <td>{{$players.StatsSteal}}</td>
                        <td>{{$players.StatsBlock}}</td>
                        <td>{{$players.StatsPerimeterDefense}}</td>
                        <td>{{$players.StatsInteriorDefense}}</td>
                        <td>{{$players.StatsDefending}}</td>
                        <td>{{$players.StatsOffensiveRebound}}</td>
                        <td>{{$players.StatsDefensiveRebound}}</td>
                        <td>
                            <span class="badge badge-pill text-dark border bg-light">{{$players.StatsTotalAttributes}}</span>
                        </td>
                    </tr>
                    <tr class="hidden" id="hof_{{$index}}">
                        <td class="p-0" colspan="24">
                            <div class="row pe-3 mt-1" style="padding-left: 50px;">
                                {{$counter := 0}}
                                {{$length := len $players.HOFBadges}}
                                {{range $hof := $players.HOFBadges}}
                                <div class="col-md-3">
                                    <div class="row mb-2">
                                        <div class="col-md-2 p-0">
                                            <img class="img-fluid" src="/static/images/nba_badges/{{$hof.Name}}_HOF.png" alt="" width="45px">
                                        </div>
                                        <div class="col-md-10 px-0 text-start">
                                            <p class="p-0 mb-0 fw-semibold" style="font-size: 14px; color: #7e06ae;">{{$hof.Name}}</p>
                                            <p class="p-0 mb-0 fw-bold" style="font-size: 10px;">{{$hof.Type}}</p>
                                            <p class="p-0 mb-0 lh-sm" style="font-size: 12px; white-space: initial;">{{$hof.Info}}</p>
                                        </div>
                                    </div>
                                </div>
                                {{$counter = add $counter 1}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr class="hidden" id="gold_{{$index}}">
                        <td class="p-0" colspan="24">
                            <div class="row pe-3 mt-1" style="padding-left: 50px;">
                                {{$counter := 0}}
                                {{$length := len $players.GoldBadges}}
                                {{range $gold := $players.GoldBadges}}
                                <div class="col-md-3">
                                    <div class="row mb-2">
                                        <div class="col-md-2 p-0">
                                            <img class="img-fluid" src="/static/images/nba_badges/{{$gold.Name}}_Gold.png" alt="" width="45px">
                                        </div>
                                        <div class="col-md-10 px-0 text-start">
                                            <p class="p-0 mb-0 fw-semibold" style="font-size: 14px; color: #e0b23d;">{{$gold.Name}}</p>
                                            <p class="p-0 mb-0 fw-bold" style="font-size: 10px;">{{$gold.Type}}</p>
                                            <p class="p-0 mb-0 lh-sm" style="font-size: 12px; white-space: initial;">{{$gold.Info}}</p>
                                        </div>
                                    </div>
                                </div>
                                {{$counter = add $counter 1}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr class="hidden" id="silver_{{$index}}">
                        <td class="p-0" colspan="24">
                            <div class="row pe-3 mt-1" style="padding-left: 50px;">
                                {{$counter := 0}}
                                {{$length := len $players.SilverBadges}}
                                {{range $silver := $players.SilverBadges}}
                                <div class="col-md-3">
                                    <div class="row mb-2">
                                        <div class="col-md-2 p-0">
                                            <img class="img-fluid" src="/static/images/nba_badges/{{$silver.Name}}_Silver.png" alt="" width="45px">
                                        </div>
                                        <div class="col-md-10 px-0 text-start">
                                            <p class="p-0 mb-0 fw-semibold" style="font-size: 14px; color: #757575;">{{$silver.Name}}</p>
                                            <p class="p-0 mb-0 fw-bold" style="font-size: 10px;">{{$silver.Type}}</p>
                                            <p class="p-0 mb-0 lh-sm" style="font-size: 12px; white-space: initial;">{{$silver.Info}}</p>
                                        </div>
                                    </div>
                                </div>
                                {{$counter = add $counter 1}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    <tr class="hidden" id="bronze_{{$index}}">
                        <td class="p-0" colspan="24">
                            <div class="row pe-3 mt-1" style="padding-left: 50px;">
                                {{$counter := 0}}
                                {{$length := len $players.BronzeBadges}}
                                {{range $bronze := $players.BronzeBadges}}
                                <div class="col-md-3">
                                    <div class="row mb-2">
                                        <div class="col-md-2 p-0">
                                            <img class="img-fluid" src="/static/images/nba_badges/{{$bronze.Name}}_Bronze.png" alt="" width="45px">
                                        </div>
                                        <div class="col-md-10 px-0 text-start">
                                            <p class="p-0 mb-0 fw-semibold" style="font-size: 14px; color: #804c18;">{{$bronze.Name}}</p>
                                            <p class="p-0 mb-0 fw-bold" style="font-size: 10px;">{{$bronze.Type}}</p>
                                            <p class="p-0 mb-0 lh-sm" style="font-size: 12px; white-space: initial;">{{$bronze.Info}}</p>
                                        </div>
                                    </div>
                                </div>
                                {{$counter = add $counter 1}}
                                {{end}}
                            </div>
                        </td>
                    </tr>
                    {{end}}

                </tbody>
            </table>
        </div>
    </div>
</div>



{{end}}

{{define "js"}}
<script>
    // Search
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#players_table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function toggleBadge(color, index) {
        const str = (color) + '_' + (index);
        $('#' + str).toggleClass("hidden");
        if (color === 'total') {
            var bronze = document.getElementById('bronze_' + (index));
            var silver = document.getElementById('silver_' + (index));
            var gold = document.getElementById('gold_' + (index));
            var hof = document.getElementById('hof_' + (index));

            if (bronze.classList.contains('hidden') && silver.classList.contains('hidden') && gold.classList.contains('hidden') && hof.classList.contains('hidden')) {
                bronze.classList.remove('hidden');
                silver.classList.remove('hidden');
                gold.classList.remove('hidden');
                hof.classList.remove('hidden');
            } else {
                bronze.classList.add('hidden');
                silver.classList.add('hidden');
                gold.classList.add('hidden');
                hof.classList.add('hidden');
            }
        }
    }

   function updateTeam(index, playerID, teamID) {
        console.log(index)
        console.log(playerID)
        console.log(teamID)
        $.ajax({
            type: 'GET',
            dataType: 'html',
            data : {
                action: "update",
                player_id: playerID,
                team_id: teamID,
            },
            success: function(data) {
                console.log("success");
                $( '#playerimg_' + index).load(window.location.href + ' #playerimgreload_' + index );
                $( '#player_' + index).load(window.location.href + ' #player_reload_' + index );
            }
        });
    }
</script>

{{end}}