{{template "base" .}}

{{define "content"}}
<div class="container p-3">

    <div id="allteams">
        <div id="allteamsreload" class="row align-items-md-stretch text-dark mb-4">

        {{range $teamInfo := index .Data "nba_teams"}}

        <div class="col-md-3" onClick="open_div('{{$teamInfo.TeamID.Int64}}')">

            <div class="p-5 teamcolor1 border rounded-3 lh-1 {{if eq $teamInfo.DarkText "true"}}text-dark{{else}}text-white{{end}}"
                style="background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}});">
                <h3>{{$teamInfo.Name}}</h3>
                <hr class="border {{if eq $teamInfo.DarkText "true"}}border-dark{{else}}border-white{{end}} border-1
                    opacity-50">

                    {{range $position := index $.Data "positions"}}
                        {{if eq $position.Number 1}}
                            {{range $playersIndex, $players := index $.Data "nba_players"}}
                                {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                    {{if eq $position.Number $players.Assigned}}
                                        <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                        {{break}}
                                    {{end}}
                                {{end}}
                                {{if eq $playersIndex 359}}
                                    <p><br></p>
                                {{end}}
                            {{end}}
                        {{end}}
                        {{if eq $position.Number 2}}
                            {{range $playersIndex, $players := index $.Data "nba_players"}}
                                {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                    {{if eq $position.Number $players.Assigned}}
                                        <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                        {{break}}
                                    {{end}}
                                {{end}}
                                {{if eq $playersIndex 359}}
                                    <p><br></p>
                                {{end}}
                            {{end}}
                        {{end}}
                        {{if eq $position.Number 3}}
                            {{range $playersIndex, $players := index $.Data "nba_players"}}
                                {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                    {{if eq $position.Number $players.Assigned}}
                                        <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                        {{break}}
                                    {{end}}
                                {{end}}
                                {{if eq $playersIndex 359}}
                                    <p><br></p>
                                {{end}}
                            {{end}}
                        {{end}}
                        {{if eq $position.Number 4}}
                            {{range $playersIndex, $players := index $.Data "nba_players"}}
                                {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                    {{if eq $position.Number $players.Assigned}}
                                        <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                        {{break}}
                                    {{end}}
                                {{end}}
                                {{if eq $playersIndex 359}}
                                    <p><br></p>
                                {{end}}
                            {{end}}
                        {{end}}
                        {{if eq $position.Number 5}}
                            {{range $playersIndex, $players := index $.Data "nba_players"}}
                                {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                    {{if eq $position.Number $players.Assigned}}
                                        <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                        {{break}}
                                    {{end}}
                                {{end}}
                                {{if eq $playersIndex 359}}
                                    <p><br></p>
                                {{end}} 
                            {{end}}
                        {{end}}
                    {{end}}

                <hr class="border {{if eq $teamInfo.DarkText "true"}}border-dark{{else}}border-white{{end}} border-1
                    opacity-50">
                <div class="fw-lighter">

                    {{range $position := index $.Data "positions"}}
                        {{if gt $position.Number 5}}
                            {{if lt $position.Number 11}}
                                {{if eq $position.Number 6}}
                                    {{range $playersIndex, $players := index $.Data "nba_players"}}
                                        {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $position.Number $players.Assigned}}
                                                <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playersIndex 359}}
                                            <p><br></p>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                {{if eq $position.Number 7}}
                                    {{range $playersIndex, $players := index $.Data "nba_players"}}
                                        {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $position.Number $players.Assigned}}
                                                <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playersIndex 359}}
                                            <p><br></p>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                {{if eq $position.Number 8}}
                                    {{range $playersIndex, $players := index $.Data "nba_players"}}
                                        {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $position.Number $players.Assigned}}
                                                <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playersIndex 359}}
                                            <p><br></p>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                {{if eq $position.Number 9}}
                                    {{range $playersIndex, $players := index $.Data "nba_players"}}
                                        {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $position.Number $players.Assigned}}
                                                <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playersIndex 359}}
                                            <p><br></p>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                {{if eq $position.Number 10}}
                                    {{range $playersIndex, $players := index $.Data "nba_players"}}
                                        {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $position.Number $players.Assigned}}
                                                <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playersIndex 359}}
                                            <p><br></p>
                                        {{end}} 
                                    {{end}}
                                {{end}}
                            {{end}}
                        {{end}}
                    {{end}}

                    <hr class="border {{if eq $teamInfo.DarkText "true"}}border-dark{{else}}border-white{{end}}
                        border-1 opacity-50">
                    
                        {{range $position := index $.Data "positions"}}
                        {{if gt $position.Number 10}}
                            {{if lt $position.Number 13}}
                                {{if eq $position.Number 11}}
                                    {{range $playersIndex, $players := index $.Data "nba_players"}}
                                        {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $position.Number $players.Assigned}}
                                                <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playersIndex 359}}
                                            <p><br></p>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                {{if eq $position.Number 12}}
                                    {{range $playersIndex, $players := index $.Data "nba_players"}}
                                        {{if eq $players.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $position.Number $players.Assigned}}
                                                <p>{{$players.FirstName}} {{$players.LastName}}</p>
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playersIndex 359}}
                                            <p><br></p>
                                        {{end}}
                                    {{end}}
                                {{end}}
                            {{end}}
                        {{end}}
                    {{end}}

                </div>
            </div>
        </div>

        {{end}}
        </div>
    </div>

    {{range $teamInfo := index .Data "nba_teams"}}

    <div id="team_{{$teamInfo.TeamID.Int64}}" class="align-items-md-stretch mb-4 rounded-3">


        <div class="rounded-3 p-4 border"
            style="background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}});">

            <div class="row align-items-md-stretch justify-content-between px-3">

                {{range $position := index $.Data "positions"}}
                    {{if lt $position.Number 6}}
                        <div class="col-md-2 text-center lh-1 dropend">

                            <a href="#" class="{{if eq $teamInfo.DarkText "true"}}text-dark{{else}}text-white{{end}}" data-bs-toggle="dropdown" aria-expanded="false">
                                <div
                                    class="relative player-shadow border {{if eq $teamInfo.DarkText "true"}}border-dark{{else}}border-white{{end}} border-2 rounded-3 text-center mb-2"
                                    style="background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}});">
                                    {{range $playerIndex, $player1 := index $.Data "nba_players"}}
                                        {{if eq $player1.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $player1.Assigned $position.Number}}
                                                <img class="img-fluid" src="{{$player1.ImgUrl}}"
                                                alt="">
                                                {{break}}
                                            {{end}}
                                        {{end}}
                                        {{if eq $playerIndex 359}}
                                                    <img class="img-fluid" src="/static/images/blackProfile.png"
                                                    alt="">
                                        {{end}}
                                    {{end}}
                                    <h5 class="position p-1">{{$position.Name}}</h5>
                                </div>
                            </a>
                            
                            <form id="submit_player_{{$teamInfo.TeamID.Int64}}" action="/nba/teams" method="post">
                                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">

                                <div class="dropdown-menu">
                                    {{range $player2 := index $.Data "nba_players"}}
                                        {{if eq $player2.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $player2.Assigned 0}}
                                            <!-- <li class="dropdown-item" onclick="submitForm('{{$teamInfo.TeamID.Int64}}', '{{$player2.PlayerID}}', '{{$position.Number}}', 'submit_player_{{$teamInfo.TeamID.Int64}}')"> -->
                                            <li class="dropdown-item" onclick="sendData('{{$teamInfo.TeamID.Int64}}', '{{$player2.PlayerID}}', '{{$position.Number}}')">
                                                {{$player2.FirstName}} {{$player2.LastName}} {{$player2.StatsOverall}}
                                            </li>
                                            {{end}}
                                        {{end}}
                                    {{end}}
                                    {{range $player1 := index $.Data "nba_players"}}
                                        {{if eq $player1.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                            {{if eq $player1.Assigned $position.Number}}
                                                <li class="dropdown-item text-secondary" onclick="sendData('{{$teamInfo.TeamID.Int64}}', '{{$player1.PlayerID}}', '0')">
                                                Remove player
                                                </li>
                                            {{end}}
                                        {{end}}
                                    {{end}}
                                </div>

                            </form>
                        </div>
                    {{end}}
                {{end}}

            </div>

            <hr class="border border-1 opacity-0 mt-2">

            <div class="row align-items-md-stretch justify-content-between px-3">

                {{range $position := index $.Data "positions"}}
                    {{if gt $position.Number 5}}
                        {{if lt $position.Number 11}}
                            <div class="col-md-2 text-center lh-1 dropend">

                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div
                                        class="relative player-shadow bg-dark text-secondary border border-dark border-2 rounded-3 text-center mb-2">
                                        {{range $playerIndex, $player1 := index $.Data "nba_players"}}
                                            {{if eq $player1.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                                {{if eq $player1.Assigned $position.Number}}
                                                    <img class="img-fluid" src="{{$player1.ImgUrl}}"
                                                    alt="">
                                                    {{break}}
                                                {{end}}
                                            {{end}}
                                            {{if eq $playerIndex 359}}
                                                        <img class="img-fluid" src="/static/images/blackProfile.png"
                                                        alt="">
                                            {{end}}
                                        {{end}}
                                        <h5 class="position p-1">{{$position.Name}}</h5>
                                    </div>
                                </a>
                                
                                <form id="submit_player_{{$teamInfo.TeamID.Int64}}" action="/nba/teams" method="post">
                                    <input type="hidden" name="assign_player" value="true">
                                    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                    <input type="hidden" name="team_id" value="{{$teamInfo.TeamID.Int64}}">
                                    <input type="hidden" id="assigned_position{{$teamInfo.TeamID.Int64}}" name="assigned" value="">
                                    <input type="hidden" id="assigned_player_id{{$teamInfo.TeamID.Int64}}" name="player_id" value="">

                                    <div class="dropdown-menu">
                                        {{range $player2 := index $.Data "nba_players"}}
                                            {{if eq $player2.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                                {{if eq $player2.Assigned 0}}
                                                <li class="dropdown-item" onclick="sendData('{{$teamInfo.TeamID.Int64}}', '{{$player2.PlayerID}}', '{{$position.Number}}')">
                                                    {{$player2.StatsOverall}} {{$player2.FirstName}} {{$player2.LastName}}
                                                </li>
                                                {{end}}
                                            {{end}}
                                        {{end}}
                                        {{range $player1 := index $.Data "nba_players"}}
                                            {{if eq $player1.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                                {{if eq $player1.Assigned $position.Number}}
                                                    <li class="dropdown-item text-secondary" onclick="sendData('{{$teamInfo.TeamID.Int64}}', '{{$player1.PlayerID}}', '0')">
                                                    Remove player
                                                    </li>
                                                {{end}}
                                            {{end}}
                                        {{end}}
                                    </div>

                                </form>
                            </div>
                        {{end}}
                    {{end}}
                {{end}}
            
            </div>

            <hr class="border border-1 opacity-0 mt-2">

            <div class="row align-items-md-stretch justify-content-between px-3">

                {{range $position := index $.Data "positions"}}
                    {{if gt $position.Number 10}}
                        {{if lt $position.Number 13}}
                            <div class="col-md-2 text-center lh-1 dropend">

                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div
                                        class="relative player-shadow bg-dark text-secondary border border-dark border-2 rounded-3 text-center mb-2">
                                        {{range $playerIndex, $player1 := index $.Data "nba_players"}}
                                            {{if eq $player1.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                                {{if eq $player1.Assigned $position.Number}}
                                                    <img class="img-fluid" src="{{$player1.ImgUrl}}"
                                                    alt="">
                                                    {{break}}
                                                {{end}}
                                            {{end}}
                                            {{if eq $playerIndex 359}}
                                                        <img class="img-fluid" src="/static/images/blackProfile.png"
                                                        alt="">
                                            {{end}}
                                        {{end}}
                                        <h5 class="position p-1">{{$position.Name}}</h5>
                                    </div>
                                </a>
                                
                                <form id="submit_player_{{$teamInfo.TeamID.Int64}}" action="/nba/teams" method="post">
                                    <input type="hidden" name="assign_player" value="true">
                                    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                    <input type="hidden" name="team_id" value="{{$teamInfo.TeamID.Int64}}">
                                    <input type="hidden" id="assigned_position{{$teamInfo.TeamID.Int64}}" name="assigned" value="">
                                    <input type="hidden" id="assigned_player_id{{$teamInfo.TeamID.Int64}}" name="player_id" value="">

                                    <div class="dropdown-menu">
                                        {{range $player2 := index $.Data "nba_players"}}
                                            {{if eq $player2.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                                {{if eq $player2.Assigned 0}}
                                                <li class="dropdown-item" onclick="sendData('{{$teamInfo.TeamID.Int64}}', '{{$player2.PlayerID}}', '{{$position.Number}}')">
                                                    {{$player2.StatsOverall}} {{$player2.FirstName}} {{$player2.LastName}}
                                                </li>
                                                {{end}}
                                            {{end}}
                                        {{end}}
                                        {{range $player1 := index $.Data "nba_players"}}
                                            {{if eq $player1.TeamID.Int64 $teamInfo.TeamID.Int64}}
                                                {{if eq $player1.Assigned $position.Number}}
                                                    <li class="dropdown-item text-secondary" onclick="sendData('{{$teamInfo.TeamID.Int64}}', '{{$player1.PlayerID}}', '0')">
                                                    Remove player
                                                    </li>
                                                {{end}}
                                            {{end}}
                                        {{end}}
                                    </div>

                                </form>
                            </div>
                        {{end}}
                    {{end}}
                {{end}}


                <div class="col-md-2 text-center lh-1">
                    <div
                        class="h-100 player-shadow bg-dark border border-dark border-3 rounded-3 d-flex align-items-center justify-content-center">
                        <img class="img-fluid logo-white opacity-50" style="max-height: 50px"
                            src="/static/images/add.png" alt="">
                    </div>
                </div>
                <div class="col-md-2 lh-1">
                    <div
                        class="h-100 player-shadow bg-dark border border-dark border-3 rounded-3 d-flex align-items-center justify-content-center">
                        <img class="img-fluid logo-white opacity-50" style="max-height: 50px"
                            src="/static/images/remove.png" alt="">
                    </div>
                </div>
                <div class="col-md-2 lh-1" onClick="open_settings('{{$teamInfo.TeamID.Int64}}')">
                    <div
                        class="h-100 player-shadow bg-dark border border-dark border-3 rounded-3 d-flex align-items-center justify-content-center">
                        <img class="img-fluid logo-white opacity-50" style="max-height: 50px"
                            src="/static/images/settings.png" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

    

    <div id="teamInfo_{{$teamInfo.TeamID.Int64}}" class="align-items-md-stretch mb-4 rounded-3" style="display: none;">

        <div class="rounded-3 p-4 {{if eq $teamInfo.DarkText "true"}}text-dark{{else}}text-white{{end}}" style="background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}});">


            {{$res := index $.Data "teamInfo"}}

            <form id="teamInfo_{{$teamInfo.TeamID.Int64}}" action="/nba/teams" method="post" class="row" novalidate>
                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                <input type="hidden" name="team_id" value="{{$teamInfo.TeamID.Int64}}">
                <div class="col-md-3">
                    <label for="team_name">Team name</label>
                    <input type="text" class="form-control {{with $.Form.Errors.Get "team_name"}} is-invalid {{end}}"
                        name="team_name" placeholder="{{$teamInfo.Name}}" value="{{if eq $teamInfo.TeamID.Int64 $res.ID}}{{$res.Name}}{{else}}{{end}}" required>
                    {{with $.Form.Errors.Get "team_name"}}
                    <label class="text-{{if eq $teamInfo.DarkText "true"}}dark{{else}}white{{end}}">{{.}}</label>
                    {{end}}
                </div>
                <div class="col-md-3">
                    <label for="abbreviation">Abbreviation</label>
                    <input type="text" class="form-control {{with $.Form.Errors.Get " abbreviation"}} is-invalid {{end}}"
                        name="abbreviation" placeholder="{{$teamInfo.Abbreviation}}" value="{{if eq $teamInfo.TeamID.Int64 $res.ID}}{{$res.Abbreviation}}{{else}}{{end}}" required>
                    {{with $.Form.Errors.Get "abbreviation"}}
                    <label class="text-{{if eq $teamInfo.DarkText "true"}}dark{{else}}white{{end}}">{{.}}</label>
                    {{end}}
                </div>
                <div class="col-auto">
                    <label for="team_color1">Color 1</label>
                    <input type="color" class="form-control form-control-color" name="team_color1"
                    value="{{if eq $teamInfo.TeamID.Int64 $res.ID}}{{$res.Color1}}{{else}}{{$teamInfo.Color1}}{{end}}" title="Choose your color">
                </div>
                <div class="col-auto">
                    <label for="team_color2">Color 2</label>
                    <input type="color" class="form-control form-control-color" name="team_color2"
                    value="{{if eq $teamInfo.TeamID.Int64 $res.ID}}{{$res.Color2}}{{else}}{{$teamInfo.Color2}}{{end}}" title="Choose your color">
                </div>
                <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">Dark text</label>
                            <input class="form-check-input" type="checkbox" name="dark_text" value="true" {{if eq $teamInfo.DarkText "true"}}checked{{else}}{{end}}>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-{{if eq $teamInfo.DarkText "true"}}dark{{else}}light{{end}}">Update</button>
                </div>
                <div class="col-md-2 text-center d-flex align-items-center justify-content-center lh-1">
                    <img class="img-fluid" src="/static/images/BKslogan.png" alt="">
                </div>
            </form>



        </div>

    </div>

    {{end}}


</div>

{{end}}

{{define "js"}}

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

    function open_div(clicked_id) {
        const str = 'team_' + (clicked_id);
        const settings = 'teamInfo_' + (clicked_id);
        $('#' + str).toggleClass("active");

        var x = document.getElementById(str);
        var y = document.getElementById(settings);
        if (x.style.display === 'none') {
            y.style.display = 'none';
        };
    }

    function open_settings(clicked_id) {
        const str = 'teamInfo_' + (clicked_id);
        $('#' + str).toggle();
    }

    function sendData(teamID, playerID, assigned_position) {
        var assigned = document.getElementById('assigned_position' + teamID).value = assigned_position;
        var player_id = document.getElementById('assigned_player_id' + teamID).value = playerID;
        var str = '#team_' + (teamID);
        console.log("position", assigned);
        console.log("player_id", player_id);
        console.log("team_id", teamID);
        $.ajax({
            type: 'GET',
            dataType: 'html',
            data : { 
                ajax_post_data: 'hello',
                assigned: assigned,
                player_id: player_id,
                team_id: teamID,
            },
            success: function(data) {
                console.log("success");
                $( '#allteams' ).load(window.location.href + ' #allteamsreload' );
                $( '#team_' + teamID ).load(window.location.href + ' #team_' + teamID );
            }
        });
    }
    

</script>

{{end}}