{{template "base" .}}

{{define "content"}}

{{$res := index .Data "nba_players"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Team info summary</h1>

            <hr>

            <table class="table table-striped">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Team ID:</td>
                        <td>{{$res.FirstName}}</td>
                    </tr>
                    <tr>
                        <td>Team name:</td>
                        <td>{{$res.LastName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



{{end}}

{{define "js"}}

<script>
    //Get the button
    var mybutton = document.getElementById("scrollUpButton");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{{end}}