{{ define "pagination" }}
    <nav>
        <ul class="pagination justify-content-center">
            <li id="previousPageBtn" class="page-item pointer"><a class="page-link text-dark" style="font-size: 14px;">Previous</a></li>
            <li id="nextPageBtn" class="page-item pointer"><a class="page-link text-dark" style="font-size: 14px;">Next</a></li>
        </ul>
    </nav>
{{ end }}