{{template "base" .}}

{{define "content"}}

<title>{{.Data.player.FirstName}} {{.Data.player.LastName}} | Baltijas Kauss</title>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{ if .Data.player.ImgURL }}
                <img class="img-fluid" src="{{.Data.player.ImgURL}}" alt="">
            {{ else }}
                <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
            {{ end }}
        </div>
        <div class="col-md-4 align-self-end">
            <h1 class="mb-0" {{if eq .Data.player.Legend 1}}style="color: #d300ea;"{{end}}>{{.Data.player.FirstName}}</h1>
            <h1 class="mb-0" {{if eq .Data.player.Legend 1}}style="color: #d300ea;"{{end}}>{{.Data.player.LastName}}</h1>
            <p class="mb-1 text-muted">{{.Data.player.Archetype}}</p>
            <p class="mb-1" style="margin-top: 2px;">
                <span class="player-badge-big bronze">{{.Data.player.BronzeBadges}}</span>
                <span class="player-badge-big silver">{{.Data.player.SilverBadges}}</span>
                <span class="player-badge-big gold">{{.Data.player.GoldBadges}}</span>
                <span class="player-badge-big hof">{{.Data.player.HOFBadges}}</span>
                <span class="player-badge-big total">{{.Data.player.TotalBadges}}</span>
            </p>
        </div>
        <div class="col-md-2 text-center align-self-center">
                <p class="overall-badge-big" overall-color="{{.Data.player.Overall}}">{{.Data.player.Overall}}</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 p-3">
                    <div class="pt-3">
                        <p class="text-muted">Positions<span class="text-dark"> {{.Data.player.PrimaryPosition}}{{if .Data.player.SecondaryPosition}}/{{end}}{{.Data.player.SecondaryPosition}}</span></p>
                        <p class="text-muted pointer" data-bs-toggle="dropdown" aria-expanded="false">Team <span id="player_team" class="text-dark">{{$.Data.team.Name}}</span></p>
                        <div class="dropdown-menu">
                            {{range $team := $.Data.teams}}
                                <li class="dropdown-item pointer" onclick="changeTeam('{{$.Data.player.PlayerID}}', '{{$team.TeamID}}', '{{$team.Name}}', '{{$.CSRFToken}}')">
                                    {{$team.Abbreviation}} {{$team.Name}}
                                </li>
                            {{end}}
                            <hr class="dropdown-divider">
                            <li class="dropdown-item pointer" onclick="changeTeam('{{$.Data.player.PlayerID}}', '{{$.Data.FA.TeamID}}', '{{$.Data.FA.Name}}', '{{$.CSRFToken}}')">
                                {{$.Data.FA.Name}}
                            </li>
                        </div>
                        <p class="text-muted">Height <span class="text-dark">{{.Data.player.Height}}cm</span></p>
                        <p class="text-muted">Weight <span class="text-dark">{{.Data.player.Weight}}kg</span></p>
                        <p class="text-muted">Kauss ADP <span class="text-dark">{{if gt .Data.ADP 0.0}}{{.Data.ADP}}{{else}}Undrafted{{end}} </span></p>
                        <hr>
                        <p class="text-muted">Age <span class="text-dark">{{.Data.player.Age}}</span></p>
                        <p class="text-muted">Birthdate <span class="text-dark">{{.Data.player.Birthdate}}</span></p>
                        <p class="text-muted">Nationality <span class="text-dark">{{.Data.player.Nationality}}</span></p>
                        <p class="text-muted">Jersey <span class="text-dark">{{.Data.player.Jersey}}</span></p>
                        <p class="text-muted">NBA Team <span class="text-dark">{{.Data.player.NBATeam}}</span></p>
                        <p class="text-muted">Drafted <span class="text-dark">{{.Data.player.Draft}}</span></p>
                    </div>
                    {{if eq .User.AccessLevel 2}}
                    <div>
                        <form action="/update" method="post">
                            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                            <input type="hidden" name="player_id" value="{{.Data.player.PlayerID}}">
                            <input type="hidden" name="ratings_url" value="{{.Data.player.RatingsURL}}">
                            <button class="btn btn-warning" type="submit" style="width: 100%;">Update</button>
                        </form>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 p-3 pb-0">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="fw-semibold"><span attribute-color="{{.Data.player.Attributes.OutsideScoring}}" class="attribute-badge">{{.Data.player.Attributes.OutsideScoring}}</span> Outside Scoring</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.CloseShot}}" class="attribute-badge">{{.Data.player.Attributes.CloseShot}}</span> Close Shot</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.MidRangeShot}}" class="attribute-badge">{{.Data.player.Attributes.MidRangeShot}}</span> Mid-Range Shot</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.ThreePointShot}}" class="attribute-badge">{{.Data.player.Attributes.ThreePointShot}}</span> Three-Point Shot</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.FreeThrow}}" class="attribute-badge">{{.Data.player.Attributes.FreeThrow}}</span> Free Throw</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.ShotIQ}}" class="attribute-badge">{{.Data.player.Attributes.ShotIQ}}</span> Shot IQ</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.OffensiveConsistency}}" class="attribute-badge">{{.Data.player.Attributes.OffensiveConsistency}}</span> Offensive Consistency</p>
                    </div>
                </div>
                <div class="col-md-4 p-3 pb-0">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="fw-semibold"><span attribute-color="{{.Data.player.Attributes.InsideScoring}}" class="attribute-badge">{{.Data.player.Attributes.InsideScoring}}</span> Inside Scoring</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Layup}}" class="attribute-badge">{{.Data.player.Attributes.Layup}}</span> Layup</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.StandingDunk}}" class="attribute-badge">{{.Data.player.Attributes.StandingDunk}}</span> Standing Dunk</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.DrivingDunk}}" class="attribute-badge">{{.Data.player.Attributes.DrivingDunk}}</span> Driving Dunk</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PostHook}}" class="attribute-badge">{{.Data.player.Attributes.PostHook}}</span> Post Hook</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PostFade}}" class="attribute-badge">{{.Data.player.Attributes.PostFade}}</span> Post Fade</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PostControl}}" class="attribute-badge">{{.Data.player.Attributes.PostControl}}</span> Post Control</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.DrawFoul}}" class="attribute-badge">{{.Data.player.Attributes.DrawFoul}}</span> Draw Foul</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Hands}}" class="attribute-badge">{{.Data.player.Attributes.Hands}}</span> Hands</p>
                    </div>
                </div>
                <div class="col-md-4 p-3 pb-0">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="fw-semibold"><span attribute-color="{{.Data.player.Attributes.Defending}}" class="attribute-badge">{{.Data.player.Attributes.Defending}}</span> Defending</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.InteriorDefense}}" class="attribute-badge">{{.Data.player.Attributes.InteriorDefense}}</span> Interior Defense</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PerimeterDefense}}" class="attribute-badge">{{.Data.player.Attributes.PerimeterDefense}}</span> Perimeter Defense</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Steal}}" class="attribute-badge">{{.Data.player.Attributes.Steal}}</span> Steal</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Block}}" class="attribute-badge">{{.Data.player.Attributes.Block}}</span> Block</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.LateralQuickness}}" class="attribute-badge">{{.Data.player.Attributes.LateralQuickness}}</span> Lateral Quickness</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.HelpDefenseIQ}}" class="attribute-badge">{{.Data.player.Attributes.HelpDefenseIQ}}</span> Help Defense IQ</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PassPerception}}" class="attribute-badge">{{.Data.player.Attributes.PassPerception}}</span> Pass Perception</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.DefensiveConsistency}}" class="attribute-badge">{{.Data.player.Attributes.DefensiveConsistency}}</span> Defensive Consistency</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-3 pb-0">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="fw-semibold"><span attribute-color="{{.Data.player.Attributes.Athleticism}}" class="attribute-badge">{{.Data.player.Attributes.Athleticism}}</span> Athleticism</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Speed}}" class="attribute-badge">{{.Data.player.Attributes.Speed}}</span> Speed</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Acceleration}}" class="attribute-badge">{{.Data.player.Attributes.Acceleration}}</span> Acceleration</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Strength}}" class="attribute-badge">{{.Data.player.Attributes.Strength}}</span> Strength</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Vertical}}" class="attribute-badge">{{.Data.player.Attributes.Vertical}}</span> Vertical</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Stamina}}" class="attribute-badge">{{.Data.player.Attributes.Stamina}}</span> Stamina</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.Hustle}}" class="attribute-badge">{{.Data.player.Attributes.Hustle}}</span> Hustle</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.OverallDurability}}" class="attribute-badge">{{.Data.player.Attributes.OverallDurability}}</span> Overall Durability</p>
                    </div>
                </div>
                <div class="col-md-4 p-3 pb-0">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="fw-semibold"><span attribute-color="{{.Data.player.Attributes.Playmaking}}" class="attribute-badge">{{.Data.player.Attributes.Playmaking}}</span> Playmaking</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PassAccuracy}}" class="attribute-badge">{{.Data.player.Attributes.PassAccuracy}}</span> Pass Accuraccy</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.BallHandle}}" class="attribute-badge">{{.Data.player.Attributes.BallHandle}}</span> Ball Handle</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.SpeedWithBall}}" class="attribute-badge">{{.Data.player.Attributes.SpeedWithBall}}</span> Speed With Ball</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PassIQ}}" class="attribute-badge">{{.Data.player.Attributes.PassIQ}}</span> Pass IQ</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.PassVision}}" class="attribute-badge">{{.Data.player.Attributes.PassVision}}</span> Pass Vision</p>
                    </div>
                </div>
                <div class="col-md-4 p-3 pb-0">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="fw-semibold"><span attribute-color="{{.Data.player.Attributes.Rebounding}}" class="attribute-badge">{{.Data.player.Attributes.Rebounding}}</span> Rebounding</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.OffensiveRebound}}" class="attribute-badge">{{.Data.player.Attributes.OffensiveRebound}}</span> Offensive Rebound</p>
                        <p class="mb-1"><span attribute-color="{{.Data.player.Attributes.DefensiveRebound}}" class="attribute-badge">{{.Data.player.Attributes.DefensiveRebound}}</span> Defensive Rebound</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-3">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="mb-0" style="font-size: 25px;">{{.Data.player.Attributes.Potential}}</p>
                        <p class="mb-1">Potential</p>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="mb-0" style="font-size: 25px;">{{.Data.player.Attributes.Intangibles}}</p>
                        <p class="mb-1">Intangibles</p>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="bg-light p-3 rounded-3" style="height: 100%;">
                        <p class="mb-0" style="font-size: 25px; color: rgb(0, 132, 255);">{{.Data.player.Attributes.TotalAttributes}}</p>
                        <p class="mb-1">Total Attributes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="badges-container mt-3">
            {{ range $badge := $.Data.badges }}
                    <div class="badge-detail d-flex bg-light p-3 rounded-3">
                        <img class="img-fluid" src="/static/images/badges/{{.ImgID}}" alt="">
                        <div class="ms-2">
                            <p class="badge-name">{{ .Name }}</p>
                            <p class="badge-type badge rounded-pill">{{ .Type }}</p>
                            <p class="badge-info">{{ .Info }}</p>
                        </div>
                    </div>
            {{ end }}
        </div>
    </div>
</div>

{{end}}

{{define "js"}}

<script>
    $(document).ready(function(){
    let colorRange = {
        '90-99' :'attribute1',
        '80-89' :'attribute2',
        '70-79' :'attribute3',
        '50-69' :'attribute4',
        '1-49'  :'attribute5',
        '0-0'   :'attribute6',
    };
    
    function between(value, min, max) {
        return value >= min && value <= max;
    }
    
    let color;
    let first; 
    let second;
    let attribute;
    
    $('.attribute-badge').each(function(index){
        
        attribute = $(this);
        color = parseInt($(this).attr('attribute-color'),10);
        
        $.each(colorRange, function(name, value){
            
            first = parseInt(name.split('-')[0],10);
            second = parseInt(name.split('-')[1],10);
            
            if (color === 0) {
                attribute.text('--');
                attribute.addClass('attribute6');
            } else if (between(color, first, second) ){
                attribute.addClass(value);
            }
        
        });
        
    });
    });
</script>

<script>
    $(document).ready(function(){
    let colorRange = {
        '91-99' :'overall1',
        '86-90' :'overall2',
        '81-85' :'overall3',
        '1-80'  :'overall4',
        '0-0'   :'overall5',
    };
    
    function between(value, min, max) {
        return value >= min && value <= max;
    }
    
    let color;
    let first; 
    let second;
    let overall;
    
    $('.overall-badge-big').each(function(index){
        
        overall = $(this);
        color = parseInt($(this).attr('overall-color'),10);
        
        $.each(colorRange, function(name, value){
            
            first = parseInt(name.split('-')[0],10);
            second = parseInt(name.split('-')[1],10);
            
            if( between(color, first, second) ){
                overall.addClass(value);
            }
        
        });
        
    });
    });
</script>

<script>
    function changeTeam(playerID, teamID, teamName, csrftoken) {
        $.ajax({
        type: "POST",
        url: window.location.href,
        data : {
            csrf_token: csrftoken,
            player_id: playerID,
            team_id: teamID,
        },
        success: function(response) {
            const team = document.getElementById('player_team');
            team.textContent = teamName;
            notie.alert({ type: 1, text: 'Successfully added to ' + teamName});
        },
        error: function(jqXHR, textStatus, errorThrown) {
            notie.alert({ type: 3, text: 'Error adding player' + errorThrown});
        }
        });
    }
 </script>

{{end}}