{{template "base" .}}

{{define "content"}}

<title>Players | Baltijas Kauss</title>

<div class="container">
    <h3>Players</h3>
    <div class="row">
        <div id="players_table" class="col-md-9">
            <table class="table table-sm table-responsive table-borderless" style="border-bottom: 0.5px solid rgb(190, 190, 190);">
                <thead style="font-size: 14px; white-space: nowrap; text-align: center;">
                    <tr style="background-color: white; border-bottom: 1px solid rgb(190, 190, 190);">
                        <th>#</th>
                        <th></th>
                        <th class="ps-2" style="text-align: start;">NAME</th>
                        <th>TEAM</th>
                        <th title="Overall Rating" data-bs-toggle="tooltip" data-bs-placement="bottom">OVR</th>
                        <th title="Three Point Shot" data-bs-toggle="tooltip" data-bs-placement="bottom">3PT</th>
                        <th title="Driving Dunk" data-bs-toggle="tooltip" data-bs-placement="bottom">DUNK</th>
                        <th title="Athleticism" data-bs-toggle="tooltip" data-bs-placement="bottom">ATHL</th>
                        <th title="Interior Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">INT D</th>
                        <th title="Perimeter Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">PER D</th>
                        <th title="Rebounding" data-bs-toggle="tooltip" data-bs-placement="bottom">REB</th>
                        <th>BADGES</th>
                        <th title="Total Attributes" data-bs-toggle="tooltip" data-bs-placement="bottom">TOTAL</th>
                    </tr>
                </thead>
                <tbody style="white-space: nowrap; text-align: center; vertical-align: middle;">

                    {{$ranking := index .Data "ranking"}}
                    {{range $index, $players := index .Data "nba_players"}}
                    <tr class="searchable" style="border-top: 0.5px solid rgb(190, 190, 190);">
                        <td class="p-0">{{index $ranking $index}}</td>
                        <td class="p-0 py-2">
                            <div id="playerimg_{{$index}}">
                                <div id="playerimgreload_{{$index}}">
                                {{if $players.TeamID}}
                                        {{range $teamInfo := index $.Data "nba_teams"}}
                                            {{if eq $teamInfo.TeamID $players.TeamID}}
                                                <img src="/static/images/players/{{$players.ImgID}}"
                                                alt="" class="header-image rounded-circle inline-block" style="border-style: none; background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}});">
                                            {{end}}
                                        {{end}}
                                        {{else}}
                                            <img src="{{if ne $players.ImgID ""}}{{$players.ImgID}}{{else}}/static/images/lightProfile.png{{end}}"
                                            alt="" class="header-image rounded-circle bg-light border">
                                        {{end}}
                                </div>
                            </div>
                    </td>
                        <td class="p-0 ps-2">
                            <div class="d-flex player-card">
                                <div class="p-0 inline-block">
                                    <p class="m-0"><a class="player-link" href="/nba/players/{{$players.PlayerID}}">{{$players.FirstName}} {{$players.LastName}}</a></p>
                                    <div class="my-0">
                                        <p class="text-muted my-0" style="font-size: 12px;">
                                            {{$players.PrimaryPosition}}{{if $players.SecondaryPosition}}/{{$players.SecondaryPosition}}{{end}}
                                            | {{$players.Height}}cm | {{$players.Weight}}kg
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </td>

                        
                        <td class="p-0">
                            <div id="player_{{$index}}">
                                <div id="player_reload_{{$index}}">
                                    {{if $players.TeamID}}
                                    {{range $teamInfo := index $.Data "nba_teams"}}
                                        {{if eq $teamInfo.TeamID $players.TeamID}}
                                        <span style="background-image: linear-gradient(90deg, {{$teamInfo.Color1}}, {{$teamInfo.Color2}}); display:inline-block; width:60px" 
                                        class="playerbadge badge badge-pill p-1 fw-semibold pointer {{if eq $teamInfo.DarkText "true"}}text-dark{{end}}" data-bs-toggle="dropdown" aria-expanded="false">{{$teamInfo.Abbreviation}}</span>
                                        {{end}}
                                    {{end}}
                                    {{else}}
                                        <span style="width:60px;" class="playerbadge badge badge-pill p-1 bg-light text-dark fw-semibold border pointer" 
                                        data-bs-toggle="dropdown" aria-expanded="false">FA</span>
                                    {{end}}

                                    <div class="dropdown-menu">
                                        {{range $teams := index $.Data "nba_teams"}}
                                            <li class="dropdown-item" onclick="updateTeam('{{$index}}', '{{$players.PlayerID}}', '{{$teams.TeamID}}')">
                                                {{$teams.Abbreviation}} {{$teams.Name}}
                                            </li>
                                        {{end}}
                                        <hr class="dropdown-divider">
                                        <li class="dropdown-item" onclick="updateTeam('{{$index}}', '{{$players.PlayerID}}', 'null')">
                                            Free Agency
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{.Overall}}</td>
                        <td>{{$players.AttributesThreePointShot}}</td>
                        <td>{{$players.AttributesDrivingDunk}}</td>
                        <td>{{$players.AttributesAthleticism}}</td>
                        <td>{{$players.AttributesInteriorDefense}}</td>
                        <td>{{$players.AttributesPerimeterDefense}}</td>
                        <td>{{$players.AttributesRebounding}}</td>
                        <td>
                            <span class="playerbadge badge badge-pill p-1 bronze">{{$players.BronzeBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 silver">{{$players.SilverBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 gold">{{$players.GoldBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 hof">{{$players.HOFBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 total">{{$players.TotalBadges}}</span>
                        </td>
                        <td>
                            <span class="playerbadge badge badge-pill p-1 text-dark" style="background-color: rgb(237, 237, 237); width: 50px;">{{$players.AttributesTotalAttributes}}</span>
                        </td>
                    </tr>
                    {{end}}

                </tbody>
            </table>
            <div class="row">
                {{ template "pagination" .}}
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="row">
                <p class="fw-bold mt-1" style="font-size: 14px;">SEARCH</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size: 16px;">Three Point Shot</p>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=0>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=99>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size: 16px;">Three Point Shot</p>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=0>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=99>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size: 16px;">Three Point Shot</p>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=0>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=99>
                </div>
            </div>
        </div>
    </div>
</div>



{{end}}

{{define "js"}}
<script>
   function updateTeam(index, playerID, teamID) {
        console.log(index)
        console.log(playerID)
        console.log(teamID)
        $.ajax({
            type: 'GET',
            dataType: 'html',
            data : {
                action: "update",
                player_id: playerID,
                team_id: teamID,
            },
            success: function(data) {
                console.log("success");
                $( '#playerimg_' + index).load(window.location.href + ' #playerimgreload_' + index );
                $( '#player_' + index).load(window.location.href + ' #player_reload_' + index );
            }
        });
    }
</script>

{{end}}