{{template "base" .}}

{{define "content"}}

<title>Players | Baltijas Kauss</title>

<div class="container">
    <h3>Players</h3>
    <div class="row">
        <div id="players_table" class="col-md-9">
            <table class="table table-sm table-responsive table-borderless table-hover" style="border-bottom: 0.5px solid rgb(190, 190, 190);">
                <thead style="font-size: 14px; white-space: nowrap; text-align: center;">
                    <tr style="background-color: white; border-bottom: 1px solid rgb(190, 190, 190);">
                        <th>#</th>
                        <th></th>
                        <th class="ps-2" style="text-align: start;">NAME</th>
                        <th title="Overall Rating" data-bs-toggle="tooltip" data-bs-placement="bottom">OVR</th>
                        <th title="Three Point Shot" data-bs-toggle="tooltip" data-bs-placement="bottom">3PT</th>
                        <th title="Driving Dunk" data-bs-toggle="tooltip" data-bs-placement="bottom">DUNK</th>
                        <th title="Athleticism" data-bs-toggle="tooltip" data-bs-placement="bottom">ATHL</th>
                        <th title="Interior Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">INT D</th>
                        <th title="Perimeter Defense" data-bs-toggle="tooltip" data-bs-placement="bottom">PER D</th>
                        <th title="Rebounding" data-bs-toggle="tooltip" data-bs-placement="bottom">REB</th>
                        <th>BADGES</th>
                        <th title="Total Attributes" data-bs-toggle="tooltip" data-bs-placement="bottom">TOTAL</th>
                    </tr>
                </thead>
                <tbody style="white-space: nowrap; text-align: center; vertical-align: middle;">
                    {{$ranking := index .Data "ranking"}}
                    {{range $index, $player := index .Data.players}}
                    <tr class="searchable" style="border-top: 0.5px solid rgb(190, 190, 190);">
                        <td class="p-0">{{index $ranking $index}}</td>
                        <td class="p-0 py-1">
                            <a href="/players/{{$player.Player.PlayerID}}"><img src="/static/images/players/{{$player.Player.ImgID}}"
                            alt="" class="header-image rounded-circle inline-block border"></a>
                        </td>
                        <td class="p-0 ps-2">
                            <div class="d-flex player-card">
                                <div class="p-0 inline-block">
                                    <p class="m-0"><a class="player-link" href="/players/{{$player.Player.PlayerID}}">{{$player.Player.FirstName}} {{$player.Player.LastName}}</a></p>
                                    <div class="my-0">
                                        <p class="text-muted my-0 pointer" style="font-size: 12px;" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{$player.Player.PrimaryPosition}}{{if $player.Player.SecondaryPosition}}/{{$player.Player.SecondaryPosition}}{{end}}
                                            | {{$player.Player.Height}}cm | {{$player.Team.Abbreviation}}
                                        </p>
                                        <div class="dropdown-menu">
                                            {{range $team := $.Data.teams}}
                                                <li class="dropdown-item" onclick="changeTeam('{{$player.Player.PlayerID}}', '{{$team.TeamID}}', '{{$.CSRFToken}}')">
                                                    {{$team.Abbreviation}} {{$team.Name}}
                                                </li>
                                            {{end}}
                                            <hr class="dropdown-divider">
                                            <li class="dropdown-item" onclick="changeTeam('{{$player.Player.PlayerID}}', '{{$.Data.FA.TeamID}}', '{{$.CSRFToken}}')">
                                                {{$.Data.FA.Name}}
                                            </li>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td><span class="overall-badge" overall-color="{{$player.Player.Overall}}">{{$player.Player.Overall}}</span></td>
                        <td>{{$player.Player.AttributesThreePointShot}}</td>
                        <td>{{$player.Player.AttributesDrivingDunk}}</td>
                        <td>{{$player.Player.AttributesAthleticism}}</td>
                        <td>{{$player.Player.AttributesInteriorDefense}}</td>
                        <td>{{$player.Player.AttributesPerimeterDefense}}</td>
                        <td>{{$player.Player.AttributesRebounding}}</td>
                        <td>
                            <span class="playerbadge badge badge-pill p-1 bronze">{{$player.Player.BronzeBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 silver">{{$player.Player.SilverBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 gold">{{$player.Player.GoldBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 hof">{{$player.Player.HOFBadges}}</span>
                            <span class="playerbadge badge badge-pill p-1 total">{{$player.Player.TotalBadges}}</span>
                        </td>
                        <td>
                            <span class="playerbadge badge badge-pill p-1 text-dark bg-light border" style="background-color: rgb(237, 237, 237); width: 50px;">{{$player.Player.AttributesTotalAttributes}}</span>
                        </td>
                    </tr>
                    {{end}}

                </tbody>
            </table>
            <div class="row">
                {{ template "pagination" .}}
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="row">
                <p class="fw-bold mt-1" style="font-size: 14px;">SEARCH</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size: 16px;">Three Point Shot</p>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=1>
                </div>
                <div class="col-md-3">
                    <input id="away_score" type="text" class="form-control" value=99>
                </div>
            </div>
        </div>
    </div>
</div>



{{end}}

{{define "js"}}

<script>
    $(document).ready(function(){
    let colorRange = {
        '91-99' :'overall1',
        '86-90' :'overall2',
        '81-85' :'overall3',
        '1-80'  :'overall4',
        '0-0'   :'overall5',
    };
    
    function between(value, min, max) {
        return value >= min && value <= max;
    }
    
    let color;
    let first; 
    let second;
    let overall;
    
    $('.overall-badge').each(function(index){
        
        overall = $(this);
        color = parseInt($(this).attr('overall-color'),10);
        
        $.each(colorRange, function(name, value){
            
            first = parseInt(name.split('-')[0],10);
            second = parseInt(name.split('-')[1],10);
            
            if( between(color, first, second) ){
                overall.addClass(value);
            }
        
        });
        
    });
    });
</script>

<script>
    function changeTeam(playerID, teamID, csrftoken) {
        $.ajax({
        type: 'POST',
        dataType: 'html',
        data : {
            csrf_token: csrftoken,
            player_id: playerID,
            team_id: teamID,
        },
        success: function(data) {
            window.location.reload();
        }
        });
    }
 </script>

{{end}}