{{template "base" .}}

{{define "content"}}

<title>{{.Data.team.Name}} | Baltijas Kauss</title>

<div class="container p-3">
    <div class="d-flex">
        {{range $team := index .Data.teams}}
        <div class="col text-center fw-semibold" style="background-image: linear-gradient(90deg, {{$team.Color1}}, {{$team.Color2}});">
            <a class="nav-link {{if eq $team.DarkText "false"}}text-white{{end}}" href="/team/{{$team.TeamID}}">{{$team.Abbreviation}}</a>
        </div>
        {{end}}
    </div>
    <div class="px-5 mb-2">
    </div>
    <div class="rounded-3 p-4 px-5" style="background-image: linear-gradient(90deg, {{.Data.team.Color1}}, {{.Data.team.Color2}});">
        <div class="row justify-content-between">
            <div class="col-md-2">
                <div class="border border-dark text-dark {{if eq .Data.team.DarkText "false"}}border-white text-white{{end}} border-2 rounded-3"
                    style="background-image: linear-gradient(90deg, {{.Data.team.Color1}}, {{.Data.team.Color2}});">
                    <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark text-dark {{if eq .Data.team.DarkText "false"}}border-white text-white{{end}} border-2 rounded-3"
                    style="background-image: linear-gradient(90deg, {{.Data.team.Color1}}, {{.Data.team.Color2}});">
                    <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark text-dark {{if eq .Data.team.DarkText "false"}}border-white text-white{{end}} border-2 rounded-3"
                    style="background-image: linear-gradient(90deg, {{.Data.team.Color1}}, {{.Data.team.Color2}});">
                    <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark text-dark {{if eq .Data.team.DarkText "false"}}border-white text-white{{end}} border-2 rounded-3"
                    style="background-image: linear-gradient(90deg, {{.Data.team.Color1}}, {{.Data.team.Color2}});">
                    <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark text-dark {{if eq .Data.team.DarkText "false"}}border-white text-white{{end}} border-2 rounded-3"
                    style="background-image: linear-gradient(90deg, {{.Data.team.Color1}}, {{.Data.team.Color2}});">
                    <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
                </div>
            </div>
            
        </div>
        <div class="row justify-content-between">
            <div class="col-md-2">
                <div class="bg-dark text-secondary border border-dark border-2 rounded-3">
                    <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
                </div>
            </div>
            <div class="col-md-2">SG</div>
            <div class="col-md-2">SF</div>
            <div class="col-md-2">PF</div>
            <div class="col-md-2">C</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-2">
                <div class="bg-dark text-secondary border border-dark border-2 rounded-3">
                    <img class="img-fluid" src="/static/images/players/default_player.png" alt="">
                </div>
            </div>
            <div class="col-md-2">Res.</div>
            <div class="col-md-2">ADD</div>
            <div class="col-md-2">DROP</div>
            <div class="col-md-2">SUBMIT</div>
        </div>
        <hr>
        <form action="/team/{{.Data.team.TeamID}}" method="post">
        <div class="row justify-content-between">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="col-md-3">
                <input type="text" class="form-control"
                    name="team_name" value="{{with $.Form.Values.Get `team_name`}}{{.}}{{else}}{{.Data.team.Name}}{{end}}" autocomplete="off">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"
                name="abbreviation" value="{{with $.Form.Values.Get `abbreviation`}}{{.}}{{else}}{{.Data.team.Abbreviation}}{{end}}" autocomplete="off">
            </div>
            <div class="col-md-3 d-flex">
                <input type="color" class="form-control form-control-color me-1" name="team_color1"
                value="{{with $.Form.Values.Get `team_color1`}}{{.}}{{else}}{{.Data.team.Color1}}{{end}}" title="Choose your color">
                <input style="margin-left: 10px;" type="color" class="form-control form-control-color" name="team_color2"
                value="{{with $.Form.Values.Get `team_color2`}}{{.}}{{else}}{{.Data.team.Color2}}{{end}}" title="Choose your color">
                <div class="form-check align-self-center" style="margin-left: 20px;">
                    <input class="form-check-input" type="checkbox" name="dark_text" value="true" {{if eq .Data.team.DarkText "true"}}checked{{else}}{{end}}>
                    <label class="form-check-label">
                        Dark Text
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <button style="width: 100%;" type="submit" class="btn btn-outline-{{if eq .Data.team.DarkText "true"}}dark{{else}}light{{end}}">Update</button>
            </div>
        </div>
        <div class="row justify-content-around" style="font-size: 14px; color: red;">
            <div class="col-md-3">
                {{with $.Form.Errors.Get "team_name"}}
                    <p>
                        {{.}}
                    </p>
                {{end}}
            </div>
            <div class="col-md-3">
                {{with $.Form.Errors.Get "abbreviation"}}
                    <p>
                        {{.}}
                    </p>
                {{end}}
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        </form>
    </div>
</div>

{{end}}

{{define "js"}}

{{end}}